{% extends "core/profile/base.html" %}

{% block extra_head %}
{{ form.media }}
<script type="text/javascript">
var get_form_url = '{% url property-form %}';

</script>

{% endblock %}

{% block profile_id %}anadir{% endblock %}


{% block profile_class %}padding{% endblock %}


{% block profile_title %}A&ntilde;adir Propiedad{% endblock %}


{% block profile_content %}
<ul>
	{% for field in property_form.visible_fields %}
		{% if field.errors %}
			<li class="error">
			{{ field.label }}: {{ field.errors|join:" ," }}
			</li>
		{% endif %}
	{% endfor%}
</ul>


<div class="right">
{{ form }}
</div>
<div class="clear"></div>
<hr>
<form action="" method="post" id="main_form" autocomplete="off">
	{% csrf_token %}
	<input type="hidden" name="property-type" id="property-type" value="{{ property_type }}"/>
	<div id="form_content" class="padding">
		{{ property_form.as_formated_div }}
	</div>
	<input type="submit" value="Guardar y Agregar Fotos" id="create-button" class="continuar"/>
</form>
{% endblock %}
