{% extends "base.html" %}
{% load profile thumbnail property %}

{% block extra_head %}

<style>
@page {
	margin: 1cm;
	margin-top: 2cm;
	size: letter;

	@frame top {
		text-align: center;
		margin: 1cm;
		-pdf-frame-content: top;
	}
}


body {
	font-size: 1.4em;
}

td {
	vertical-align:top;
} 

td.contact {
	width: 7cm;
	text-align:left;
}

td.contact h3{
	text-align:center;
	margin:0;
}

.image {
	padding-left: 0.2cm;
	padding-top:0.4cm;
}

.first .image {
	padding-top:0;
}


</style>
{% endblock %}


{% block content %}
<!-- PROPIEDAD -->

<div class="modal">
	<h1 id=top>{{ object.tipo_inmueble|upper }} - Ref {{ object.id }}</h1>
	<table>
		<tr>
			<td>
				<p style="font-size:16px"><strong>Dirección</strong></p>
				<ul>

					<li>Estado: {{ object.estado }}</li>
					<li>Municipio: {{ object.municipio }}</li>
					<li>C.P.: {{ object.codigo_postal }}</li>
					<li>colonia: {{ object.colonia }}</li>
					<li>referencias: {{ object.referencias|default:"-----" }}</li>
					<li>descripcion: {{ object.description|default:"-----" }}</li>
					<li>observaciones: {{ object.observaciones|default:"-----" }}</li>
					<li>Comisión pactada: {{ object.pct_pactada }}</li>
					<li>Comisión a compartir: {{ object.pct_compartir }}</li>
				</ul>

				<p style="font-size:16px"><strong>Servicios</strong></p>
				<ul>
					<li>{{ object.precio_completo }}</li>
					{% if object.habitaciones %}
					<li>{{ object.habitaciones }} Rec&aacute;maras</li>
					{% endif %}
					{% if object.banos %}
					<li>{{ object.banos }} Ba&ntilde;os</li>
					{% endif %}
					{% if object.estacionamientos %}
					<li>{{ object.estacionamientos }} Estacionamientos</li>
					{% endif %}

					{% services object object.get_general_fields 'properties/detail_services_popup.html' exclude='precio, banos, estacionamientos, divisa, habitaciones'%}	
				</ul>


			</td>
			<td class="contact">
				<h3>Vendedor</h3>
				{% get_profile owner as user_profile %}
				{% thumbnail user_profile.image "140x100" crop="center" as im %}
				<img src="{{ im.url }}" alt="imagen perfil" />
				{% empty%}
				<img src="{% default_profile_image %}" alt="imagen default" />
				{% endthumbnail %}

				{% get_profile owner as owner_profile %}
				<p>
				{{ owner.get_full_name }}<br>
				<strong>ID:</strong> {{ owner.profile.ref_id }}<br>

				{% if owner_profile.AMPI %}
				<strong>Certicado:</strong>{{ owner_profile.AMPI }}<br>
				{% endif %}
				<strong>Tel Celular:</strong> {{ owner_profile.phone1 }}<br>

				{% if owner_profile.phone2 %}
				<strong>Tel Oficina/Casa:</strong> {{ owner_profile.phone2 }} <br>
				{% endif %}

				<a href="mailto:{{ owner.email }}">{{ owner.email }}</a>
				</p>
			</td>
		</tr>
		<tr>
			<td>
				{% if object.get_extra_fields|length %}
				<p style="font-size:16px"><strong>Info Extra</strong></p>
				<ul>
					{% services object object.get_extra_fields 'properties/detail_services_popup.html' %}
				</ul>
				{% endif %}

			</td>
			<td>

				{% if object.get_adicionales_fields|length %}
				<p style="font-size:16px"><strong>Adicionales Inmueble</strong></p>
				<ul>
					{% services object object.get_adicionales_fields 'properties/detail_services_popup.html' %}
				</ul>
				{% endif %}
			</td>
		</tr>

		<tr>
			<td>

				{% if object.get_condominio_fields|length %}
				<p style="font-size:16px"><strong>Extras Condominio</strong></p>
				<ul>
					{% services object object.get_condominio_fields 'properties/detail_services_popup.html' %}
				</ul>
				{% endif %}
			</td>
		</tr>



	</table>
	<pdf:nextpage>
	<table>
		<tr>
			{% for image in images %}
			{% if forloop.counter0|divisibleby:3 %}
		</tr>
		<tr class="{% if forloop.first %}first{% endif %}">
			{% endif %}

			<td class='image'>
				{% thumbnail image.imagen "250x180" crop="center" upscale=1  as im %}
				<img src="{{ im.url }}">
				{% endthumbnail %}

			</td>
			{% endfor %}
		</tr>
	</table>
</div><!-- /.modal -->
{% endblock %}


{% block footer %}
{% endblock %}
