{% extends "base.html" %}
{% load profile thumbnail property %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/modal.css" type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/flexslider2.css" type="text/css">

<script defer src="{{ STATIC_URL }}js/jquery.flexslider-min.js"></script>

<script type="text/javascript">
$(window).load(function(){
		$('#carousel').flexslider({
animation: "slide",
controlNav: false,
animationLoop: false,
slideshow: false,
itemWidth: 100,
itemMargin: 10,
asNavFor: '#slider'
});

		$('#slider').flexslider({
animation: "slide",
controlNav: false,
animationLoop: false,
slideshow: false,
sync: "#carousel",
start: function(slider){
$('body').removeClass('loading');
}
});

$('#print').click(function (e) {
    e.preventDefault();
    window.print();
});
});
</script>
{% endblock %}


{% block content %}
<!-- PROPIEDAD -->

<div class="modal">

	<h1>{{ object.tipo_inmueble|upper }} - {{ object.id }}</h1>
	<div class="right">
		<ul>
			<li>{{ object.precio_completo }}</li>
			{% if object.habitaciones %}
			<li>{{ object.habitaciones }} Rec&aacute;maras</li>
			{% endif %}
			{% if object.banos %}
			<li>{{ object.banos }} Ba&ntilde;os</li>
			{% endif %}
			{% if object.estacionamientos %}
			<li>{{ object.estacionamientos }} Estacionamientos</li>
			{% endif %}

			{% services object  object.get_general_fields 'properties/detail_services_popup.html' exclude='precio, banos, estacionamientos, divisa, habitaciones'%}	

		</ul>
		<p style="font-size:16px"><strong>Dirección</strong></p>
		<ul>

			<li>Estado: {{ object.estado }}</li>
			<li>Municipio: {{ object.municipio }}</li>
			<li>C.P.: {{ object.codigo_postal }}</li>
			<li>colonia: {{ object.colonia }}</li>
			<li>referencias: {{ object.referencias|default:"-----" }}</li>
			<li>descripcion: {{ object.description|default:"-----" }}</li>
			<li>observaciones: {{ object.observaciones|default:"-----" }}</li>
			<li>Comisión pactada: {{ object.pct_pactada }}</li>
			<li>Comisión a compartir: {{ object.pct_compartir }}</li>
		</ul>

		{% if object.get_extra_fields|length %}
		<p style="font-size:16px"><strong>Info Extra</strong></p>
		<ul>
			{% services object object.get_extra_fields 'properties/detail_services_popup.html' %}
		</ul>
		{% endif %}
		
		{% if object.get_adicionales_fields|length %}
		<p style="font-size:16px"><strong>Adicionales Inmueble</strong></p>
		<ul>
			{% services object object.get_adicionales_fields 'properties/detail_services_popup.html' %}
		</ul>
		{% endif %}

		{% if object.get_condominio_fields|length %}
		<p style="font-size:16px"><strong>Extras Condominio</strong></p>
		<ul>
			{% services object object.get_condominio_fields 'properties/detail_services_popup.html' %}
		</ul>
		{% endif %}

	</div><!-- /.right -->

	<div class="left">



		<div class="slider">

			<!-- HORIZONTAL PICS -->
			<div id="slider" class="flexslider">
				<ul class="slides">
					{% for image in images %}
					{% thumbnail image.imagen "435x290" crop="center" upscale=1  as im %}
					<li><img src="{{ im.url }}" alt="" style="margin:{{ im|margin:"435x290" }}"></li>
					{% endthumbnail %}
					{% endfor %}
					<li><img src="http://maps.googleapis.com/maps/api/staticmap?center={{ object.get_google_maps_query }}&zoom=15&size=435x290&maptype=roadmap&sensor=true" alt="localización"></li>
				</ul>
			</div>

			<!-- THUMBNAILS -->
			<div id="carousel" class="flexslider">
				<ul class="slides">
					{% for image in images %}
					{% thumbnail image.imagen "140x80" crop="center" upscale=1  as im %}
					<li><img src="{{ im.url }}" alt="" style="margin:{{ im|margin:"140x80" }}"></li>
					{% endthumbnail %}
					{% endfor %}
					<li><img src="http://maps.googleapis.com/maps/api/staticmap?center={{ object.get_google_maps_query }}&zoom=15&size=140x80&maptype=roadmap&sensor=true" alt="localización"></li>
				</ul>
			</div>

		</div><!-- /.slider -->

		{% get_profile user as user_profile %}
		<table class="vendedor">
			<tbody>
			<tr>
				<td>
					{% thumbnail user_profile.image "140x100" crop="center" as im %}
					<img src="{{ im.url }}" alt="imagen perfil" />
					{% empty%}
					<img src="{% default_profile_image %}" alt="imagen default" />
					{% endthumbnail %}
				</td>
				<td>

					<h2>CONTACTAR AL VENDEDOR</h2>
					{% get_profile owner as owner_profile %}
					<p>{{ owner.get_full_name }}</p>
					<p>ID: {{ owner.profile.ref_id }}</p>

					{% if owner_profile.AMPI %}
					<p>Certicado: {{ owner_profile.AMPI }}<p>
					{% endif %}
					<p>Tel Celular: {{ owner_profile.phone1 }}</p>

					{% if owner_profile.phone2 %}
					<p>Tel Oficina/Casa: {{ owner_profile.phone2 }} </p>
					{% endif %}

					<a href="mailto:{{ owner.email }}">{{ owner.email }}</a></p>

				</td>
			</tr>
			</tbody>
		</table>


	</div><!-- /.left -->

	<div class="clear"></div>

	<button id="print" class="continuar">Imprimir</button>

</div><!-- /.modal -->
{% endblock %}


{% block footer %}
{% endblock %}
