{% extends "base_login.html" %}

{% load profile thumbnail humanize property %}


{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/flexslider.css" type="text/css" media="screen">
<script defer src="{{ STATIC_URL }}js/jquery.flexslider-min.js"></script>
<script type="text/javascript">
    $(window).load(function(){
      $('#carousel').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: false,
        slideshow: false,
        itemWidth: 140,
        itemMargin: 10,
        asNavFor: '#slider'
      });
      
      $('#slider').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: false,
        slideshow: false,
        sync: "#carousel",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });

    $('#btn_mapa').click(function(e){
		e.preventDefault();
		$('#map-image').click();
		    });

    /* TODO: Promote to some library */
    $('#btn_favoritos').click(function(e){
		    e.preventDefault();
		    $.post("{% url properties-set-favourite object.id %}", function(){
			    $('#btn_favoritos').toggleClass('favourite');
			    });
		});
    });

   
</script>
{% endblock %}


{% block subwrapper_id %}propiedad{% endblock %}

{% block profile_left %}
<div class="redbox">

	{% if owner == user %}
	<a href="{% url property-edit object.id %}"
		style="position:absolute;
		right:10px;
		top:4px;"> Editar </a>
	{% endif %}
	<h1>{{ object.tipo_inmueble|upper }}</h1>
    <h2>Referencia: {{ object.id }}</h2>
	<table>
		<tr>
			<th>Estado:</th>
			<td>{{ object.estado }}</td>
		</tr>
		<tr>
			<th>Municipio:</th>
			<td>{{ object.municipio }}</td>
		</tr>
		<tr>
			<th>Código Postal:</th>
			<td>{{ object.codigo_postal }}</td>
		</tr>
		<tr>
			<th>Colónia:</th>
			<td>{{ object.colonia }}</td>
		</tr>

		{% if object.referencias %}
		<tr>
			<th>Referencias:</th>
			<td>{{ object.referencias }}</td>
		</tr>
		{% endif %}

		{% if object.descripcion %}
		<tr>
			<th>Descripcion:</th>
			<td>{{ object.descripcion }}</td>
		</tr>
		{% endif %}

		{% if object.observaciones %}
		<tr>
			<th>Observaciones:</th>
			<td>{{ object.observaciones }}</td>
		</tr>
		{% endif %}
		<tr>
			<th>Comisión pactada:</th>
			<td>{{ object.pct_pactada }} %</td>
		</tr>
		<tr>
			<th>Comisión a compartir:</th>
			<td>{{ object.pct_compartir }} %</td>
		</tr>

	</table>

	<ul>
		<li class="precio">{{ object.precio|intcomma }} {{ object.divisa.code }}</li>
		{% if object.habitaciones %}
		<li class="recamaras">{{ object.habitaciones }}</li>
		{% endif %}
		{% if object.banos %}
		<li class="banos">{{ object.banos }}</li>
		{% endif %}
		{% if object.estacionamientos %}
		<li class="estacionamientos">{{ object.estacionamientos }}</li>
		{% endif %}

	</ul>
	<table>
		{% services object object.get_general_fields 'properties/detail_services.html' exclude='precio, banos, estacionamientos, divisa, habitaciones'%}	
	</table>
	{% if object.get_extra_fields|length %}
	<p style="font-size:16px"><strong>Info Extras</strong></p>
	<table>
		{% services object object.get_extra_fields 'properties/detail_services.html' %}
	</table>
	{% endif %}

	{% if object.get_adicionales_fields|length %}
	<p style="font-size:16px"><strong>Adicionames Inmueble</strong></p>
	<table>
		{% services object object.get_adicionales_fields 'properties/detail_services.html' %}
	</table>
	{% endif %}


	{% if object.get_condominio_fields|length %}
	<p style="font-size:16px"><strong>Extras Condominio</strong></p>
	<table>
		{% services object object.get_condominio_fields 'properties/detail_services.html' %}
	</table>
	{% endif %}

	<hr>
	<h2>CONTACTAR AL VENDEDOR</h2>
	{% get_profile owner as owner_profile %}
	<p>{{ owner.get_full_name }}</p>
	<p>ID: {{ owner.profile.ref_id }}</p>

	{% if owner_profile.AMPI %}
	<p>Certicado: {{ owner_profile.AMPI }}<p>
	{% endif %}
	<p>Tel Celular: {{ owner_profile.phone1 }}</p>

	{% if owner_profile.phone2 %}
	<p>Tel Oficina/Casa: {{ owner_profile.phone2 }} </p>
	{% endif %}

	<a href="mailto:{{ owner.email }}">{{ owner.email }}</a></p>

</div><!-- /.redbox -->
{% endblock%}


{% block right_id %}galeria{% endblock %}


{% block profile_right %}

<a href="#none" title="Ver mapa" id="btn_mapa"><img src="{{ STATIC_URL }}images/ui/btn_mapa.png" alt="Mapa"></a>
<a href="#none" title="Agregar a Favoritos"
	id="btn_favoritos"
	class="{% if is_favourite %}favourite{% endif %}"></a>


<div class="slider">

	<!-- LARGE PICS -->
	<div id="slider" class="flexslider">
		<ul class="slides">
			{% for image in images %}
			{% thumbnail image.imagen image_size crop="center" upscale=1  as im %}
			<li><img src="{{ im.url }}" alt="" style="margin:{{ im|margin:image_size }}"></li>
			{% endthumbnail %}
			{% endfor %}
			<li><img src="http://maps.googleapis.com/maps/api/staticmap?center={{ object.get_google_maps_query }}&zoom=15&size={{ image_size }}&maptype=roadmap&sensor=true" alt="localización"></li>
		</ul>
	</div>

	<!-- THUMBNAILS -->
	<div id="carousel" class="flexslider">
		<ul class="slides">
			{% for image in images %}
			{% thumbnail image.imagen thmb_size crop="center" upscale=1  as im %}
			<li><img src="{{ im.url }}" alt=""></li>
			{% endthumbnail %}
			{% endfor %}
			<li><img id="map-image" src="http://maps.googleapis.com/maps/api/staticmap?center={{ object.get_google_maps_query }}&zoom=15&size={{ thmb_size }}&maptype=roadmap&sensor=true" alt="localización"></li>
		</ul>
	</div>
</div>

{% endblock %}
