{% extends "core/profile/base.html" %}
{% load thumbnail %}

{% block extra_head %}
<script type="text/javascript" src="{{ STATIC_URL }}properties/js/properties.js"></script>
<script type="text/javascript"  src="{{ STATIC_URL }}js/vendor/jquery.ui.widget.js"></script>
<script type="text/javascript"  src="{{ STATIC_URL }}js/jquery.iframe-transport.js"></script>
<script type="text/javascript"  src="{{ STATIC_URL }}js/jquery.fileupload.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}properties/js/detail.js"></script>
{% endblock %}

{% block profile_id %}anadir{% endblock %}


{% block profile_class %}padding{% endblock %}


{% block profile_title %}Editar Propiedad{% endblock %}


{% block profile_content %}
<form action="{% url properties-delete object.id %}" method="post" id="main_form" autocomplete="off">
	{% csrf_token %}
	<input type="submit" value="Borrar" id="delete-button" class="continuar"/>
</form>

<ul>
	{% for field in form.visible_fields %}
		{% if field.errors %}
			<li class="error">
			{{ field.label }}: {{ field.errors|join:" ," }}
			</li>
		{% endif %}
	{% endfor%}
</ul>


<!-- ANADIR FOTOS -->
<div class="diagonals fix">

	<h2>A&ntilde;adir fotos</h2>
</div><!-- /.diagonals -->

<div class="someextrapadding">
    <p class="helptext">
    Recomendamos que las im&aacute;genes cargadas tengan una dimensión
    mínima de 700 x 690 pixeles
    </p>

	<p id="image-message" class="exito" style="display:none;"></p>
	<input id="id_imagen" type="file" name="imagen" data-url="{% url property-add-image object.id %}">

	<!--span>Prohibido subir fotos donde se muestre la fachada de la propiedad</span--!>

	<div class="clear"></div>

</div><!-- /.someextrapadding -->

<div id="fotos_box">
	{% for image in object.imagenes.all %}
	{% thumbnail image.imagen image.EDIT_SIZE crop="center" upscale=1 as im %}
	<span class="image-edit">
		<img src="{{ im.url }}"
		alt=""
		data-main-picture="{% url property-set-main-picture object.id image.id %}"
		id="image-id-{{ image.id }}"
		{% ifequal object.main_picture image %}class="main-picture"{% endifequal %}/>
		<a href="{% url property-delete-image object.id image.id %}" class="delete-image">borrar</a>
	</span>
	{% empty %}
	<div>nada {{ image.EDIT_SIZE }}</div>
	{% endthumbnail %}
	{% endfor %}
</div><!-- /#fotos_box -->

<div class="clear"></div>
<div class="diagonals fix">

	<h2>Editar Propiedad</h2>

</div><!-- /.diagonals -->
<form action="" method="post" id="main_form" autocomplete="off">
	{% csrf_token %}
	<div id="form_content" class="padding">
		{{ form.as_formated_div }}
	</div>
	<input type="submit" value="Guardar" id="edit-button" class="continuar"/>
</form>

{% endblock %}
