{% extends "core/profile/base.html" %}
{% load thumbnail %}


{% block profile_id %}propiedades{% endblock %}


{% block profile_title %}Mis Propiedades{% endblock %}


{% block profile_content %}
<div id="propiedades_box">

    <!-- PROPIEDAD -->
    {% for obj in object_list %}
    <div class="modulo_propiedad">
	{% thumbnail obj.main_picture.imagen image_size crop="center" upscale=1 as im %}
	<img src="{{ im.url }}" alt="" />
	{% empty %}
	<img src="" alt="Sin imagen" width="175" height="110">
	{% endthumbnail %}
	    

        <table class="iconos">
            <tbody>
            <tr>
                {% if obj.banos %}
                <td class="cantidad">{{ obj.banos }}</td>
                <td class="banos"></td>
                {% endif %}
                {% if obj.estacionamientos %}
                <td class="cantidad">{{ obj.estacionamientos }}</td>
                <td class="cajones"></td>
                {% endif %}
                {% if obj.habitaciones %}
                <td class="cantidad">{{ obj.habitaciones }}</td>
                <td class="recamaras"></td>
                {% endif %}
            </tr>
            </tbody>
        </table>

        <ul>
            <li>Tipo: <span>{{ obj.tipo_inmueble }}</span></li>
            <li>M2: <span>{{ obj.superficie_total }} m2</span></li>
            <li>{{ obj.precio_completo }}</li>
            <li>Ubicación: <span>{{ obj.ubicacion }} </span></li>
            {% if obj.referencias %}
            <li>Referencias: <span>{{ obj.referencias }}</span></li>
            {% endif %}
        </ul>

        <table class="detalles">
            <tbody>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td class="busquedas">Visitas: <em>{{ obj.ad.views }}</em></td>
                            <td class="favoritos">Favoritos: <em>{{ obj.favourite_of.count }}</em></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- tr>
                <td>Citas pendientes: 2</td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td class="fecha">12/Agosto/2012</td>
                            <td class="hora">3:00 pm</td>
                        </tr>
                        <tr>
                            <td class="fecha">14/Agosto/2012</td>
                            <td class="hora">11:00 am</td>
                        </tr>
                    </table>
                </td>
            </tr --!>
            {% if obj.ad %}
            <tr>
                <td>Fecha de vencimiento: <em>{{ obj.ad.valid_until|date:"Y/m/d"}}</em></td>
            </tr>

            <tr>
                <td>{{ obj.ad.human_time_used|capfirst }}</td>
            </tr>
            {% else %}
                <tr>
                    <td style="font-weight:bold;color:red">Sin Publicar</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
	<a href="{% url property-detail obj.id %}" class="renovar">Ver</a>
	<a href="{% url property-edit obj.id %}" class="renovar" style="float:left">Editar</a>
        <div class="clear"></div>
    </div><!-- /.modulo_propiedad -->
    {% endfor %}
</div>
{% endblock %}
