{% extends "base_login.html" %}
{% load thumbnail humanize %}

{% block extra_head %}
<script type="text/javascript" src="{{ STATIC_URL }}properties/js/search.js"></script>
<script type="text/javascript">
var menu_search_url = "{% url properties-custom-form %}";
</script>
{% endblock %}

{% block subwrapper_id %}busqueda{% endblock %}


{% block profile_left %}
<div class="busqueda_box">

	<h1>BUSCAR INMUEBLES</h1>

	<!-- COMIENZA FORMULARIO -->
	<form action="{% url property-search %}" method="post">
		{% csrf_token %}

		<table>
			{{ form.as_table }}
		</table>

		<button class="continuar search-button advanced-search clean-button">Limpiar</button>
		<button class="continuar search-button advanced-search">Buscar</button>
        <h1 class="advanced-search">Avanzada</h1>
        <table id="advanced-search" class="advanced-search">
            {{ advanced_form.as_table }}
        </table>

		<button class="continuar search-button clean-button">Limpiar</button>
		<button class="continuar search-button">Buscar</button>
	</form><!-- TERMINA FORMULARIO -->

</div><!-- /.busqueda_box -->
{% endblock %}


{% block profile_right %}
<ul>
{{ type_form.as_ul }}
</ul>

{% if object_list.count %}
{% if is_paginated %}
<div class="clear"></div>
<div class="pagination">
	<span class="page-links">
		{% if page_obj.has_previous %}
		<a href="?page={{ page_obj.previous_page_number }}">anterior</a>
		{% endif %}
		<span class="page-current">
			Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
		</span>
		{% if page_obj.has_next %}
		<a href="?page={{ page_obj.next_page_number }}">siguiente</a>
		{% endif %}
	</span>
</div>
{% endif %}


{% for property in object_list %}
<!-- PROPIEDAD -->
<div class="modulo_propiedad">

	<ul>
		<li>{{ property.tipo_inmueble }}</li>
		<li>{{ property.colonia }}</li>
		<li>{{ property.precio_completo }}</li>
	</ul>

	<table class="iconos">
		<tbody>
		<tr>
			{% if property.habitaciones %}
			<td class="cantidad">{{ property.habitaciones }}</td>
			<td class="recamaras"></td>
			{% endif %}
			{% if property.banos %}
			<td class="cantidad">{{ property.banos }}</td>
			<td class="banos"></td>
			{% endif %}
			{% if property.estacionamientos %}
			<td class="cantidad">{{ property.estacionamientos }}</td>
			<td class="cajones"></td>
			{% endif %}
		</tr>
		</tbody>
	</table>
	<a href="{% url property-detail property.id %}">
		{% thumbnail property.main_picture.imagen "175x110" crop="center" upscale=1 as im %}
		<img src="{{ im.url }}" alt="" width="175" height="110">
		{% empty %}
		<img src="" alt="Sin imagen" width="175" height="110">
		{% endthumbnail %}
	</a>

</div><!-- /.modulo_propiedad -->
{% endfor%}

{% if is_paginated %}
<div class="clear"></div>
<div class="pagination">
	<span class="page-links">
		{% if page_obj.has_previous %}
		<a href="?page={{ page_obj.previous_page_number }}">anterior</a>
		{% endif %}
		<span class="page-current">
			Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
		</span>
		{% if page_obj.has_next %}
		<a href="?page={{ page_obj.next_page_number }}">siguiente</a>
		{% endif %}
	</span>
</div>
{% endif %}
{% else %}

Ups.. No se encontro ni un resultado

{% endif %}
{% endblock %}
