@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

/* H T M L   T A G S */

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:20px;
	color:#303030;
	font-weight:400
}

p,
dl,
hr,
h1,h2,h3,h4,h5,h6,
pre,
table,
fieldset,
img,
ul,
ol { margin-bottom:20px; }

h1, h2, h3, h4, h5, h6 { line-height:normal; font-family:'Arial Narrow','PT Sans Narrow', Arial, Helvetica, sans-serif; font-weight:400; }

strong { font-weight:bold }

em { font-style:italic }

/* LAYOUT */

.wrapper {
	width:100%;
	max-width:964px;
	height:auto;
	margin:0 auto;
	padding:0 30px;
	position:relative;
	top:0;
	left:0;
	overflow:visible;
}

.wrapper2 {
	width:100%;
	max-width:964px;
	height:auto;
	margin:0 auto;
	padding:0 30px;
}

	.wrapper.fix { position:relative; top:0; left:0; z-index:3; margin-bottom:-85px; }
	

.center { text-align:center }

.bg_gris_oscuro {
	background-image:url(../images/ui/bg_gris_oscuro.png);
	background-repeat:repeat;
}

.bg_gris_claro {
	background-image:url(../images/ui/bg_gris_claro.png);
	background-repeat:repeat;
}

.light_gray { color:#808080; font-size:18px; width:590px; line-height:24px; text-align:center; font-family:'Arial Narrow','PT Sans Narrow', Arial, Helvetica, sans-serif; font-weight:400; margin:0 auto }

.clear { clear:both; padding:0; margin:0 }

/* E N C A B E Z A D O */

#top { width:100%; height:200px; position:relative; top:0; left:0; z-index:2; }
#top.perfil { width:100%; height:70px; position:relative; top:10px; left:0; z-index:2; }
#logoHome { width:185px; height:202px; position:absolute; top:0; left:18px; z-index:2 }
#logoPerfil { width:105px; height:119px; position:absolute; top:-18px; left:18px; z-index:2 }

#login_box {
	width:auto;
	height:65px;
	padding:35px 0 15px 0;
}

			#login_box fieldset { border-right:1px solid #303030; width:245px; height:auto; margin-bottom:0; position:absolute; top:35px; right:30px; }
			
			#login_box div {
				float:left;
				line-height:17px;
				border-right:1px solid #303030;
				padding:0 10px 50px 0;
				margin-right:2px;
			}
			
			#login_box form { float:right; width:175px; }
			
			#login_box label {
				text-align:right;
				float:left;
				width:60px;
				line-height:19px;
				margin-right:7px;
				font-family:'Arial Narrow','PT Sans Narrow', Arial, Helvetica, sans-serif;
				font-weight:400;
				font-size:12px;
			}
			
			#login_box input[type="text"], #login_box input[type="password"] {
				float:left;
				border:none;
				width:96px;
				height:15px;
				padding:2px;
				margin-bottom:7px;
				font-family:Arial, Helvetica, sans-serif;
				font-size:10px;
				-webkit-box-shadow: 0px 0px 10px 0px #c5c5c5;
				box-shadow: 0px 0px 10px 0px #c5c5c5;
				-webkit-border-radius: 5px;
				border-radius: 5px;
				border:1px solid #e8e8e8\9;
			}
			
			#login_box input[type="submit"] {
				float:right;
				margin-right:8px;
				border:none;
				background:#6d6d6d;
				color:#FFF;
				font-family:'Arial Narrow','PT Sans Narrow', Arial, Helvetica, sans-serif;
				font-weight:400;
				font-size:12px;
				cursor:pointer;
				-webkit-border-radius: 5px;
				border-radius: 5px;
			}
						
						#login_box input[type="submit"]:hover {
							background:#cc0101;
						}
						
						#login_box input[type="submit"]:active {
							background:#333;
						}
			

#nav {
	width:100%;
	height:70px;
}

			#nav ul { list-style:none; display:block; width:auto; height:70px; border-right:1px solid #FFF; margin-bottom:0 }
			
			#nav ul li { float:right }
			
			#nav ul li a {
				display:block;
				line-height:70px;
				text-decoration:none;
				color:#FFF;
				border-left:1px solid #FFF;
			}
			
				#nav ul { list-style:none; display:block; width:auto; height:70px; border-right:1px solid #FFF; margin-bottom:0; }
			
				
				#nav.perfil ul { position:relative; top:8px; height:50px }
				
				#nav.perfil ul li a {
					display:block;
					line-height:50px;
					text-decoration:none;
					color:#FFF;
					padding:0 40px;
					border-left:1px solid #FFF;
				}
				
				.nav_login { padding-left:50px !important; 
					background:url(../images/ui/triangulito3.png) no-repeat 17% 50% }
				
				.nav_preferencias { padding-left:45px !important; 
					background:url(../images/ui/triangulito3.png) no-repeat 12% 50% }
			
			#nav ul li a:hover {
				text-decoration:underline;
			}
			
			#nav ul li a:active {
				text-decoration:none;
			}
			
			.nav_home { padding:0 60px }
			.nav_acercade { padding:0 45px }
			.nav_faqs { padding:0 65px }
			.nav_contacto { padding:0 50px }
			
			#nav .current { background:url(../images/ui/bg_gris_medio.png) repeat }


/* P I E   D E   P A G I N A */				
#footer {
	clear:both;
	padding:15px 0;
	text-align:center
}

#footer .col { float:left; margin:0 20px 0 15px; text-align:left; }
#footer .col.last { margin-right:0 }

#footer h5 { margin-bottom:0; width:145px; line-height:40px; display:block; color:#FFF; text-decoration:none; font-size:11px; padding:0 5px; border-bottom:1px solid #FFF; font-family:Arial, Helvetica, sans-serif }
#footer h5 .display,
#footer h5.display
{ background:url(../images/ui/triangulito.png) no-repeat 95% 50% }
#footer h5 a { width:145px; line-height:40px; display:block; color:#FFF; text-decoration:none; font-size:11px; padding:0 5px; }

#footer ul { color:#FFF; margin-top:10px; margin-left:30px; list-style:disc outside !important }
#footer ul li a { font-size:11px; color:#FFF; line-height:15px; text-decoration:none }
#footer ul li a:hover { text-decoration:underline }
#footer h5.last { border-bottom:none }

#footer input[type="text"] {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	display:block;
	background:none;
	color:#FFF;
	border:1px solid #FFF;
	padding:5px;
	margin-top:10px;
	width:145px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
			
				#footer input[type="submit"] {
					font-family:'Arial Narrow','PT Sans Narrow', Arial, Helvetica, sans-serif;
					font-weight:400;
					font-size:12px;
					color:#FFF;
					background:#9d9d9d;
					width:70px;
					height:23px;
					border:none;
					cursor:pointer;
					margin-top:10px;
					padding:3px 10px 5px 10px;
					margin-left:86px;
					-webkit-border-radius: 5px;
					border-radius: 5px;
				}
						
						#footer input[type="submit"]:hover {
							background:#cc0101;
						}
						
						#footer input[type="submit"]:active {
							background:#333;
						}

.privacy { color:#FFF; font-size:11px; text-decoration:none; display:block; width:920px; padding:20px 0; border-top:1px solid #FFF; margin-left:15px }
.privacy:hover { text-decoration:underline }
.privacy:active { text-decoration:none }

.red { color:#c90000 }


.info,
.exito,
.warning,
.error {
	background:url(../images/assets/error.gif) no-repeat 12px 12px #FCCDCD;
	-webkit-border-radius:5px;
	border-radius:5px;
	color:#cc0000;
	border:#F98D8E 1px solid;
	margin:0 0 20px 35px;
	padding:10px 10px 10px 40px;
}

.success,
.exito {
	background:url(../images/assets/success.gif) no-repeat 12px 12px #D7FF9D;
	color:#438800;
	border-color:#8CCC34;
	font-weight:bold;
}

.info {
	background:none no-repeat #D7FF9D;
	color:#438800;
	border-color:#8CCC34;
	background-image:none;
}

.warning {
	background-color: #ffde59;
}

.messages li {
	list-style-type: none;
}

.messages .info{
	height:auto;
}


.pagination {
	text-align:center;
}

input[readonly="readonly"] {
    background-color:gray;
    color:white;
}
