.modal { width:690px; margin:0 auto; position:relative; top:0; left:0; padding: 0 0 30px 0; }

.left { width:455px; float:left; border-right:1px solid #CCCCCC; }
.right { width:200px; padding-left:20px; float:right }

.modal.formulario { width:690px; height:400px; margin:0 auto; position:relative; top:0; left:0 }
.modal.formulario.fix { height:500px }
.modal.formulario .left { width:50%; *width:48%; float:left; border:none }
.modal.formulario .right { width:50%; *width:48%; float:right; padding:0; }
.modal.formulario h1 { font-weight:normal; font-size:26px }

.modal hr { border:none; border-top:2px solid #CCC !important; margin-bottom:30px }

.modal ul {
	list-style:none outside;
	margin-bottom:10px;
	font-size:12px;
}

			.modal ul li.recamaras {
				line-height:30px;
				background-image:url(../images/ui/sprites_gris2.png);
				background-repeat:no-repeat;
				background-position:0 0;
				padding:0 0 0 60px;
				margin-bottom:5px
			}
			
			.modal ul li.banos {
				line-height:30px;
				background-image:url(../images/ui/sprites_gris2.png);
				background-repeat:no-repeat;
				background-position:0 -30px;
				padding:0 0 0 60px;
				margin-bottom:5px
			}
			
			.modal ul li.estacionamientos {
				line-height:30px;
				background-image:url(../images/ui/sprites_gris2.png);
				background-repeat:no-repeat;
				background-position:0 -59px;
				padding:0 0 0 60px;
				margin-bottom:5px
			}
			
			.modal ul li.precio {
				line-height:30px;
				background-image:url(../images/ui/sprites_gris2.png);
				background-repeat:no-repeat;
				background-position:0 -96px;
				padding:0 0 0 60px;
				margin-bottom:5px
			}
			
			.modal p { margin-bottom:5px; font-size:12px !important }
			.modal h1 { font-size:20px; font-weight:bold; color:#cc0000; line-height:35px; margin-bottom:0 }
			
			.modal fix { position:relative; top:150px }
			
			.modal h2 { margin-bottom:4px }
			.modal .vendedor { width:435px; margin-top:30px; }
			.modal .vendedor td { width:50%; vertical-align:top; }
			.modal .vendedor a#btn_favoritos { position:relative; left:100px }
			
			#print {
				position: absolute;
				bottom:0px;
				text-decoration: none;
				right:0px; }

			@media print {
				#print {
					display:none;
				}
			}


.mini_input { width:40px !important; float:right !important; margin-left:10px }

label {
	font-family:'Arial Narrow','PT Sans Narrow', Arial, Helvetica, sans-serif;
	font-weight:400;
	display:block;
	float:left;
	width:120px;
	*width:100px;
	height:25px;
	margin-right:30px;
	margin-left:20px;
	margin-bottom:10px;
	text-align:right;
}

input[type="text"], input[type="radio"], input[type="checkbox"], select, span {
	display:block;
	float:left;
}
input[type="text"] {
	border:none;
	width:140px;
	height:24px;
	padding:0 10px;
	-webkit-box-shadow: 0px 0px 5px 0px #c5c5c5;
	box-shadow: 0px 0px 5px 0px #c5c5c5;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #e8e8e8\9;
}
select { width:155px; }
span { font-size:12px; margin-right:10px; margin-bottom:10px; position:relative; }
span input { position:absolute; top:0; left:60px }

textarea {
	border:none;
	-webkit-box-shadow: 0px 0px 10px 0px #c5c5c5;
	box-shadow: 0px 0px 10px 0px #c5c5c5;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border:1px solid #e8e8e8\9;
	height:100px;
	width:200px;
}

.col { width:200px; float:left; margin:20px 0 20px 20px; }

.finalizar {
		font-family:'Arial Narrow','PT Sans Narrow', Arial, Helvetica, sans-serif;
		font-weight:400;
		font-size:20px;
		color:#FFF;
		display:inline-block;
		width:120px;
		height:35px;
		background:#5b5b5b;
		border:none;
		cursor:pointer;
		padding:5px 15px 7px 15px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: 0px 0px 10px 0px #c5c5c5;
		box-shadow: 0px 0px 10px 0px #c5c5c5;
		position:absolute;
		right:0;
		bottom:10px
}

.finalizar:hover { background:#c90000 }
.finalizar:active { background:#000000; }

.modal .title { float:left; margin-right:20px }
.modal #error { position:absolute; bottom:10px; left:0; margin:0; width:345px; }
.modal #exito { float:left; margin:0 }

.modal label.fix { line-height:14px }

@page {
  margin: 1cm;
  background-color:red;
}

#pop-member {
	margin: 0;
}

#pop-member table {
	margin: 10px;
}

#pop-member th,
#pop-member td
{
	vertical-align: top;
	text-align: left;
}


#pop-member th {
	font-weight: bold;
	padding: 0 5px;

}
