<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- INFORMACION DEL SITIO -->
<title>Nube Inmobiliaria | {% block title %} Bienvenido {% endblock %}</title>
<meta name="description" content="Simplificamos y agilizamos los cierres de las operaciones entre dos asesores inmobiliarios independientes con comisiones preestablecidas." />
<meta name="keywords" content="nube inmobiliaria, publicidad de propiedades, publicidad de inmuebles, vender inmuebles en el extranjero, comprar inmuebles en el extranjero, asesores inmobiliarios" />

<!-- FAVICON -->
<link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}images/ui/nubeinmobiliaria.ico">

<!-- STYLESHEETS -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" type="text/css" media="screen">
<link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css" type="text/css" media="screen">
<link rel="stylesheet" href="{{ STATIC_URL }}css/pages.css" type="text/css" media="screen">
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.mCustomScrollbar.css" type="text/css" media="screen">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fancybox/jquery.fancybox.css" media="screen" />

<!-- JQUERY STUFF -->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/underscore-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/columnizer.js"></script>
<!-- ACOMODO DE COLUMNAS -->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.masonry.min.js"></script>
<!-- mousewheel plugin -->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mousewheel.min.js"></script>
<!-- custom scrollbars plugin -->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}fancybox/jquery.fancybox.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>
{% block extra_head %}
{% endblock %}

</head>

<body>

{% block header %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
<div id="footer" class="bg_gris_oscuro">

	<div class="wrapper">
		<div class="col">
			<h5><a href="{% url home %}">HOME</a></h5>
			<h5><a href="{% url about %}" class="display" title="Acerca de Nube Inmobiliaria">ACERCA DE</a></h5>
			<ul>
				<li><a href="{% url about %}" title="Beneficios">Beneficios</a></li>
				<li><a href="{% url about %}" title="&iquest;Qui&eacute;nes Somos?">&iquest;Qui&eacute;nes Somos?</a></li>
				<li><a href="{% url about %}" title="&iquest;Qu&eacute; es la Nube?">&iquest;Qu&eacute; es la Nube?</a></li>
				<li><a href="{% url about %}" title="Equipo">Equipo</a></li>
			</ul>
			<h5 class="last"><a href="{% url faq %}">DUDAS</a></h5>

		</div>
		<div class="col">
			<h5><a href="{% url contact-form %}" title="Contacto">CONTACTO</a></h5>
			<h5><a href="{% url registration_register %}" title="Registro a Nube Inmobiliaria">REGISTRO</a></h5>

			<h5 class="display">NUBE DE PROPIEDADES</h5>
			<ul>
				<li><a href="{% url property-search %}" title="B&uacute;squeda espec&iacute;fica">B&uacute;squeda espec&iacute;fica</a></li>
				<li><a href="{% url profile-account %}" title="Mis propiedades">Mis propiedades</a></li>
			</ul>
		</div>
		<div class="col">
			<h5 class="display">PERFIL</h5>
			<ul>
				<li><a href="{% url profile-edit %}" title="Editor de perfil">Editor de perfil</a></li>
				<li><a href="{% url profile-documents %}" title="Documentaci&oacute;n">Documentaci&oacute;n</a></li>
				<li><a href="{% url profile-members %}" title="Miembros">Miembros</a></li>
				<li><a href="{% url profile-account %}" title="Mi Cuenta">Mi Cuenta</a></li>
				<li><a href="{% url profile-favourites %}" title="Favoritos">Favoritos</a></li>
				<li><a href="{% url property-create %}" title="A&ntilde;adir propiedades">A&ntilde;adir propiedades</a></li>
			</ul>
		</div>

		<div class="col">
			<h5>NEWSLETTER</h5>
			<form method="post" action="someaction.php">
				<input type="text" name="newsletter">
				<input type="submit" value="Inscribirme">
			</form>
		</div>

		<div class="col last">
			<a href="http://www.twitter.com/nube_inmob" target="_blank"><img src="{{ STATIC_URL }}images/ui/btn_twitter.png" alt="S&iacute;guenos en Twitter"></a>
			<a href="http://www.facebook.com/pages/Nube-Inmobiliaria/200977326713151?fref=ts" target="_blank"><img src="{{ STATIC_URL }}images/ui/btn_facebook.png" alt="S&iacute;guenos en Facebook"></a>
		</div>

		<div class="clear"></div>

		<a href="/pagina/terminos-y-condiciones/" class="privacy" title="Pol&iacute;tica de Privacidad">Nube Inmobiliaria 2012 / Pol&iacute;tica de Privacidad</a>

	</div>
</div><!-- /#footer -->

</body>
</html>
{% endblock %}
