{% extends "base.html" %}

{% block header %}
<div id="top">

	<div class="wrapper">
		
		<a href="{% url home %}"><img src="{{ STATIC_URL }}images/ui/logoHome.png" alt="Nube Inmobiliaria" id="logoHome"></a>
        
        <div id="login_box">
	{% if not user.is_authenticated %}
            	<fieldset>
                    <div>LOG IN /</div>
		    <form method="post" action="{% url django.contrib.auth.views.login %}">
			{% csrf_token %}
                        <label>Email</label>
                        <input type="text" name="username" id="is_username">
                        <label>Contrase&ntilde;a</label>
                        <input type="password" name="password" id="id_password">
                        <input type="submit" value="Iniciar sesi&oacute;n">
                    </form>
                </fieldset>
	{% endif %}
        </div><!-- /#login_minibox -->
        
	</div>
    
	<div id="nav" class="bg_gris_oscuro">
		<div class="wrapper">
        
            <ul>
		    <li><a href="{% url contact-form %}" title="Contacta a Nube Inmobiliaria" class="nav_contacto">CONTACTO</a></li>
		<li><a href="{% url faq %}" title="Preguntas Frecuentes" class="nav_faqs">DUDAS</a></li>
		<li><a href="{% url about %}" title="Acerca de Nube Inmobiliaria" class="nav_acercade">ACERCA DE</a></li>
		<li><a href="{% url home %}" title="P&aacute;gina de Inicio de Nube Inmobiliaria" class="nav_home">HOME</a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div><!-- /#nav -->
</div><!-- /#top -->
{% endblock %}
