{% extends "base.html" %}
{% load profile thumbnail %}

{% block header %}
<div id="top" class="perfil">

	<div class="wrapper">
		
		<a href="{% url profile-account %}"><img src="{{ STATIC_URL }}images/ui/logoPerfil.png" alt="Nube Inmobiliaria" id="logoPerfil"></a>
        
	</div>
    
	<div id="nav" class="perfil bg_gris_oscuro">
		<div class="wrapper">
        
            <ul>
		    <li><a href="{% url profile-edit %}" title="" class="nav_perfil">PERFIL</a></li>
		<li><a href="{% url logout %}" title="" class="nav_login">SALIR</a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div><!-- /#nav -->
</div><!-- /#top -->
{% endblock %}


{% block content %}
{% block profile_info%}
<div id="perfil" class="bg_gris_claro modo_perfil">
	<div class="wrapper">
		{% get_profile user as user_profile %}
		<table class="perfil">
			<tbody>
			<tr>
				<td class="foto">
					<div>
						{% thumbnail user_profile.image "105x105" crop="center" as im %}
						<img src="{{ im.url }}" alt="imagen perfil" />
						{% empty%}
						<img src="{% default_profile_image %}" alt="imagen default" />
						{% endthumbnail %}
					</div>
				</td>
				<td class="descripcion">
					<h1>{{ user.get_full_name }}</h1>
                    <p><span class="condensed bold">ID:</span> {{ user.profile.ref_id }}</p>
					<p class="condensed bold">Direcci&oacute;n:</p>
					<p><em>{{ user_profile.address }}</em></p>
				</td>
				<td class="datos">
					<p><span class="condensed bold">Tel&eacute;fono:</span> <em>{{ user_profile.phone1 }}</em></p>
					<p><span class="condensed bold">Tel&eacute;fono 2:</span> <em>{{ user_profile.phone2 }}</em></p>
					<p><span class="condensed bold">Email:</span> <em>{{ user.email }}</em></p>
					<p><span class="condensed bold">A&ntilde;os de experiencia en el mercado:</span> <em>{{ user_profile.experience }}</em></p>
					<p><span class="condensed bold">Certificado:</span> <em>{{ user_profile.AMPI }}</em></p>
                </td>
                <td class="acciones">
                    <ul class="lista_1">
                        <li><a href="{% url property-search %}" title="Buscar"><img src="{{ STATIC_URL }}images/ui/BotonPerfil7.png" alt="EditarPerfil"></a></li>
                        <li><a href="{% url profile-documents %}" title="Documentos"><img src="{{ STATIC_URL }}images/ui/BotonPerfil2.png" alt="Documentos"></a></li>
                        <li><a href="{% url profile-members %}" title="Miembros"><img src="{{ STATIC_URL }}images/ui/BotonPerfil3.png" alt="Miembros"></a></li>
                    </ul>
                    <ul class="lista_2">
                        <li><a href="{% url profile-favourites %}" title="Favoritos"><img src="{{ STATIC_URL }}images/ui/BotonPerfil4.png" alt="Favoritos"></a></li>
                        <li><a href="{% url property-create %}" title="Añadir Propiedad"><img src="{{ STATIC_URL }}images/ui/BotonPerfil5.png" alt="Añandir propiedad"></a></li>
                        <li><a href="{% url profile-account %}" title="Mis propiedades"><img src="{{ STATIC_URL }}images/ui/BotonPerfil6.png" alt="Mi cuenta"></a></li>
                    </ul>
                    <div class="clear"></div>
                </td>
            </tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock profile_info %}

<div class="wrapper2">
    <div id="{% block subwrapper_id %}propiedades{% endblock %}">

	    {% if messages %}
	    <ul class="messages">
		    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
	    </ul>
	    {% endif %}


		<div class="left">
            {% block profile_left %}
            {% endblock profile_left %}

		</div>

        <div class="right" id="{% block right_id %}{% endblock %}">
            {% block profile_right %}
            {% endblock profile_right %}
		</div><!-- /#right -->

		<div class="clear"></div>

	</div><!-- /#propiedades -->
</div><!-- /.wrapper -->
{% endblock %}

