{%extends "base_no_login.html"%}
{% load i18n %}

{% block title %}Contacto{% endblock %}

{% block extra_head %}
  {{ form.media }}
{% endblock %}

{% block contentx %}

    {% if messages %}
    <ul id="messages">
        {% for msg in messages %}<li class="{{ msg.tags }}">{{ msg }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {%if not message%}
    <h2>{% trans 'Contact Us' %}</h2>

    <form action="{{ request.path }}" method="post">
	    <table>
        {{ form.as_table }}
	</table>
        <input type="submit" value="{% trans 'Send Your Message' %}"/>
	{% csrf_token %}
    </form>

    {%else%}
    <p> 
    <span class="message-title">{% trans 'Your email' %}</span>: {{ message.sender_email }}<br/>
    <span class="message-title">{% trans 'Your Message' %}</span>: {{ message.content|linebreaksbr }} 
    </p>

    {%endif%}

{% endblock %}



{% block content %}
<div id="contacto" class="bg_gris_claro">
    
        <div class="wrapper">
        
        	<div class="left">
            
                <h1>QUEREMOS CONOCER TU OPINI&Oacute;N</h1>
                <form  method="post" action="">
		{% csrf_token %}
		{{ form.as_p }}
                <div class="clear"></div>
                <input name="" type="submit" value="ENVIAR" />
                
                </form>
                
            </div><!-- /.left -->
            
            <div class="right">
                <div class="redbox">
                    <h2>CONTACTO</h2>
                    <address>
                        <p>
                        Ventas:<br>
                        ventas<span class="at-sign"></span>nubeinmobiliaria.com.mx
                        </p>

                        <p>
                        Soporte: <br>
                        soporte<span class="at-sign"></span>nubeinmobiliaria.com.mx
                        </p>

                        <p>
                        Contacto: <br>
                        contacto<span class="at-sign"></span>nubeinmobiliaria.com.mx
                        </p>

                        <p>
                        Sugerencias: <br>
                        sugerencias<span class="at-sign"></span>nubeinmobiliaria.com.mx
                        </p>
                    </address>
                </div>
            </div><!-- /.right -->

            <div class="clear"></div>

        </div><!-- /.wrapper -->
    </div><!-- /#contacto -->
    {% endblock %}
