		<form name="loginForm" action="../verifica.php" method="post" onSubmit="return validaFormaLogin(this);">
		<!--<form name="loginForm" action="" method="post" onSubmit="return validaFormaLogin(this);">-->
			<table class="texto_cajaLogin" border="0" width="60%">
				<tr>
					<td class="titulologin" colspan="2">
						{TITULO_LOGIN}
					</td>
				</tr>
				<tr>
					<td>
						{USUARIO}: 
					</td>
					<td>
						<input type="text" name="usuario" size="10" maxlength="50">
					</td>
				</tr>
				<tr>
					<td>
						{PASSWORD}:
					</td>
					<td>
						<input type="password" name="passwd" size="10" maxlength="10">
					</td>
				</tr>
				<tr>
					<td colspan="2" align="right">
						<input type="image" src="../img/botones/b_entrar.png" border="0">
					</td>
				</tr>
			</table>
		</form>
