body{ 
	background: #333333;
	text-align: center; 
} 

.wrapContenido{
	margin:0 auto 10px; 
	z-index:1; 
	width:1250px;
	height:827px;
	background-image:url('../../img/LAYOUT.png');
	background-repeat: no-repeat;
	position:absolute;
	top:0px;
	text-align: left; 
} 

.wrapContenido_cerrada{
	margin:0 auto 10px; 
	z-index:1; 
	width:1250px;
	height:827px;
	background-image:url('../../img/LAYOUT_C.png');
	background-repeat: no-repeat;
	position:absolute;
	top:0px;
	text-align: left; 
} 

.layout{
	width:1250px; 
	margin:0 auto; 
	/*position:relative;*/
	position:absolute;
	top:0px;
	left: 80px;
	text-align: left; 

}

.registro_contacto{
	position: absolute;
	top: 20px;
	left: 380px;
}

.archivos_interes{
	position: absolute;
	top: 20px;
	left: 490px;
}

.idiomas{
	position: absolute;
	top: 54px;
	left: 850px;
	width: 175px;
	height: 27px;
}

td.texto_registro_contacto{
	font-family: Arial;
	color: #ffffff;
	font-size:14px;
}

.menu{
	position: absolute;
	top: 390px;
	left: 0px;
	width: 250px;
	height: 370px;
	/*background: #FAC090;*/
}

.menu_cerrada{
	position: absolute;
	top: 350px;
	left: 0px;
	width: 250px;
	height: 370px;
	/*background: #FAC090;*/
}

.caja_login{
	position: absolute;
	top: 80px;
	left: 850px;
}

.caja_logout{
	position: absolute;
	top: 60px;
	left: 780px;
}

table.texto_cajaLogin{
	font-size:14px;
	font-family: Arial;
	color: #ffffff;
	text-align: right;
}

table.datos_directorio{
	background-color: #F0F0F0;
}

td.titulologin{
	font-size:22px;
	font-family: Arial;
	font-weight:bold;
	color: #000000;
	text-align: right;
}

.directorio_asistentes{
	width: 330px;
	height: 550px;
	overflow:auto;
}

td.asistentes_congreso{
	font-size:14px;
	font-family: Helvetica;
	color: #586770;
}

tr.titulos_directorio{
	background: #6e82b4;
	color: #ffffff;
}

td.titulo_agenda{
	background: #6e82b4;
	color: #ffffff;
	text-align: right;
	font-size:14px;
	font-family: 'Lucida Grande',Arial,Helvetica,sans-serif;
}

td.dato_agenda_par{
	text-align: left;
	font-size:14px;
	font-family: 'Lucida Grande',Arial,Helvetica,sans-serif;
}

td.dato_agenda_non{
	background-color: #F0F0F0;
	text-align: left;
	font-size:14px;
	font-family: 'Lucida Grande',Arial,Helvetica,sans-serif;
}

tr.datos_directorio{
	background-color: #F0F0F0;
}

td.titulo_directorio{
	font-size:14px;
	font-family: 'Lucida Grande',Arial,Helvetica,sans-serif;
	color: #ffffff;
}

.adicional{
	position: absolute;
	top: 380px;
	left: 745px;
	width: 350px;
	height: 410px;
	/*background: #FAC090;*/
}

.adicional_directorio{
	position: absolute;
	top: 240px;
	left: 760px;
	width: 330px;
	height: 560px;
	/*background: #FAC090;*/
}

.pleca_larga{
	position: absolute;
	top: 2px;
	left: 22px;
}

.pleca_corta{
	position: absolute;
	top: 370px;
	left: 780px;
}

.infoHotelesTitulo{
	font-size:12px;
	font-family: 'Lucida Grande',Arial,Helvetica,sans-serif;
	font-weight:bold;
	color: #333;
}

.infoHotelesNormal{
	font-size:12px;
	font-family: 'Lucida Grande',Arial,Helvetica,sans-serif;
	color: #333;
}

.infoHotelesCursiva{
	font-size:12px;
	font-family: 'Lucida Grande',Arial,Helvetica,sans-serif;
	color: #333;
	font-style: italic;
}

.titulo_adicional{
	position: absolute;
	top: 270px;
	left: 800px;
	font-size:66px;
	font-family: Arial;
	font-weight:bold;
	color: #dbdbdb;
}

.titulo_contenido{
	position: absolute;
	top: 270px;
	left: 280px;
	font-size:66px;
	font-family: Arial;
	font-weight:bold;
	color: #dbdbdb;
}

.nombre_asistente{
	position: absolute;
	top: 340px;
	left: 300px;
	font-size:25px;
	font-family: Arial;
	font-weight:bold;
	color: #dbdbdb;
}

.pleca_larga{
	position: absolute;
	top: 370px;
	left: 260px;
}

.contenido{
	position: absolute;
	top: 285px;
	left: 280px;
	width: 700px;
	height: 500px;
	overflow: auto;
	/*background: #FAC090;*/
}

.contenido_directorio{
	position: absolute;
	top: 390px;
	left: 260;
	width: 800px;
	height: 430px;
	overflow:auto;
}

.contenido_chat{
	position: absolute;
	top: 385px;
	left: 280px;
	width: 770px;
	height: 400px;
	overflow:auto;
	/*background: #FAC090;*/
}

.contenido_turismo{
	position: absolute;
	top: 385px;
	left: 280px;
	width: 570px;
	height: 400px;
	overflow:auto;
}

.chat_frame{
	position: absolute;
	top: 385px;
	left: 280px;
	width: 770px;
	height: 400px;
	overflow:auto;
}

.titulo{
	font-size:18px;
	font-family: Helvetica;
	font-weight:bold;
	color: #00b4ac;
}

.titulo_desact{
	font-size:18px;
	font-family: Helvetica;
	font-weight:bold;
	color: #dbdbdb;
}

.nota_adicional{
	font-size:16px;
	font-family: Helvetica;
	font-weight:bold;
	color: #c0c0c0;
}

.parrafo{
	font-size:14px;
	font-family: Helvetica;
	color: #586770;
}

th{
	font-size:14px;
	font-family: Helvetica;
	font-weight:bold;
	color: #586770;
}

td.titulo{
	font-size:14px;
	font-family: Helvetica;
	font-weight:bold;
	color: #00b4ac;
}

td.dato{
	font-size:14px;
	font-family: Helvetica;
	color: #586770;
}

td.dato_temp{
	font-size:24px;
	font-weight:bold;
	font-family: Helvetica;
	color: #586770;
}

.titulologin{
	font-size:22px;
	font-family: Arial;
	font-weight:bold;
	color: #b2b2b2;
}

.texto_contacto{
	font-family: Arial;
	font-size: 14;
	color: #32826e;
}

a.encabezado{
	color:#ffffff;
}

a.titulo_desact{
	font-size:14px;
	font-family: Helvetica;
	font-weight:bold;
	color: #dbdbdb;
}

.asterErrorHidden{
	font:14px Verdana, Helvetica, Arial; 
	font-weight:bold;
	color: #FF1000;	
	visibility: hidden;
}

.asterErrorVisible{
	font:14px Verdana, Helvetica, Arial; 
	font-weight:bold;
	color: #FF1000;	
	visibility: visible;
}

/***********************************
 *
 */
 


/* globals */
.itinerario table.itinerario { 
	background-color: #F0F0F0;
	color: #333;
	font: 12px 'Lucida Grande',Arial,Helvetica,sans-serif;
}

