{% extends "registration/registration_base_white.html" %}
{% block title %}Activación completada{% endblock %}


{% block extra_head %}
<script type="text/javascript">
$(document).ready(function(){
		activate_step('3');
		});
</script>
{% endblock %}


{% block register_content %}
<div class="paso3 left activo"></div>
<h2>Activacion completada</h2>
<div class="clear"></div>
  <p>
    Tu nueva cuenta ha sido activada, para terminar inicia sesión usando el
    nombre de usuario y la contraseña que definiste:
  </p>

  <p>
    <a href="{% url login %}" >
        Entrar ahora al sistema
    </a>
  </p>
      

{% endblock %}
