{% extends "registration/registration_base_white.html" %}

{% block title %}{% if account %}Activation complete{% else %}Activation problem{% endif %}{% endblock %}

{% block extra_head %}
<script type="text/javascript">
$(document).ready(function(){
		activate_step('3');
		});
</script>
{% endblock %}

{% block register_content %}
{% if account %}
<div class="paso2 left activo"></div>
<h2>Correo verificado</h2>
<div class="clear"></div>
<p> Gracias {{ account }}, Ahora puede ir a
<a href='{% url login %}'>login</a> usando su correo y su contraseña.</p>
{% else %}
<h2>Su clave es invalida</h2>
{% endif %}
{% endblock %}

