{% extends "base_no_login.html" %}
{% load i18n%}

{% block title %}Login{% endblock %}


{% block content %}
<div id="registro">
    <div class="bg_gris_claro fix">
        <div class="wrapper2">
            <form method="post" action="{% url django.contrib.auth.views.login %}" style="padding-top:20px; padding-left:20px" >
                {% csrf_token %}
  
                {% if form.errors %}
                <p class="message">
                Usuario/contraseña incorrectos
                </p>
                {% endif %}
                <table cellspacing="4" class="ingresa_datos">
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>

                <p>
                <input type="submit" class="continuar" value="Iniciar sesión" />
                <input type="hidden" name="next" value="{{ next }}" />
                </p>
                <p>
                <a href="{% url password_reset %}" style="color:#c90000">
                    {% trans 'Forgotten your password or username?' %}
                </a>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
