{% extends "registration/registration_base.html" %}

{% block title %}Change password{% endblock %}

{% block content %}
<div id="registro">
	<div class="bg_gris_claro fix">
		<div class="wrapper2">
			<form method='post' action=''>{% csrf_token %}
				<table class="ingresa_datos">
					{{ form }}
					<tr><td></td>
						<td>
							<input class="continuar" type='submit' value="Cambiar contraseña" /></td></tr>
				</table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
