{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}
{% block content %}
<div id="registro">
	<div class="bg_gris_claro fix">
		<div class="wrapper2">

			<p>
			{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}
			</p>
			<form method='post' action=''>{% csrf_token %}
				<table class="ingresa_datos">
					{{ form }}
					<tr><td></td><td>
							<input type='submit' class="continuar" value="Reset password" /></td></tr>
				</table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
