{% extends "registration/registration_base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}
<div id="registro">
	<div class="bg_gris_claro fix">
		<div class="wrapper2">
			<p>
			Se te ha enviado un correo para cambiar tu constraseña. Tienes que darle click al link que viene en el mensaje.
			</p>
		</div>
	</div>
</div>
{% endblock %}
