{% extends "registration/registration_base.html" %}
{% block title %}Contraseña cambiada{% endblock %}

{% block content %}
<div id="registro">
	<div class="bg_gris_claro fix">
		<div class="wrapper2">
			<p>
			Su contraseña ha sido cambiada!<br/>
			</p>
			<a href="{% url login %}" style="text-decoration:none" class="continuar">Continuar</a>.
		</div>
	</div>
</div>
{% endblock %}
