{% extends "registration/registration_base.html" %}

{% block title %}Confirma cambio de contraseña{% endblock %}

{% block content %}
<div id="registro">
	<div class="bg_gris_claro fix">
		<div class="wrapper2">
			<p>
			Escriba su nueva contraseña para cambiarla
			</p>
			<form method="post" action="">{% csrf_token %}
				<table class="ingresa_datos">
					{{ form.as_table }}
					<tr>
						<td></td>
						<td>
							<input type="submit" value="Cambiar contraseña" class="continuar" />
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
