{% extends "base_no_login.html" %}


{% block content  %}
<!-- CONTENIDO REGISTRO -->
<div id="registro">

    <div class="bg_gris_claro fix">
        <div class="wrapper2">

		<table class="indicador_registro">
			<tr>
				<td><h1>Reg&iacute;strate en 4 sencillos pasos</h1></td>
				<td><div class="paso1"></div></td>
				<td><div class="arrow"></div></td>
				<td><div class="paso2"></div></td>
				<td><div class="arrow"></div></td>
				<td><div class="paso3"></div></td>
				<td><div class="arrow"></div></td>
				<td><div class="paso4"></div></td>
			</tr>
		</table>

        <div class="paso_registro activo">
            {% block register_content %}
            {% endblock %}
        </div>

    </div><!-- /.wrapper2 -->
</div><!-- /.bg_gris_claro -->
    
</div><!-- /#registro -->


{% endblock %}
