{% extends "registration/registration_base.html" %}


{% block title %}Creación de cuenta{% endblock %}

{% block extra_head %}
<script type="text/javascript">
$(document).ready(function(){
    activate_step('1');
    $('#id_tos').after(' <a href="/pagina/terminos-y-condiciones/">Terminos y condiciones</a>');
});
</script>
{% endblock %}

{% block register_content %}
    <!-- INGRESA TUS DATOS -->
            	<div class="paso1 left activo"></div>
                <h2>Ingresa tu correo y contraseña</h2>
                
                <div class="clear"></div>
                
		<form method="post" action="" class="ingresa_datos">
			{% csrf_token %}
			<table>
			{{ form }}
			<tr>
				<th></th>
				<td>
					<input type="submit" value="Continuar" class="continuar">
				</td>
			</tr>
		        </table>
		</form> 
            	
{% endblock %}
