{% extends "registration/registration_base_white.html" %}

{% block title %}Activar cuenta{% endblock %}

{% block extra_head %}
<script type="text/javascript">
$(document).ready(function(){
		activate_step('2');
		location.href = '#big-image';
		});
</script>
{% endblock %}

{% block register_content %}
	<!-- VERIFICA EMAIL -->
			<div class="paso2 left activo"></div>
			<h2 id="big-image">Revisa tu email</h2>

			<div class="clear"></div>
			<img src="{{ STATIC_URL }}images/ui/pantalla_popup.png" alt="Revisa tu correo
			Le hemos enviado una clave de activación por correo electrónico.
			Haga click en la liga de activación que aparece en el correo para comenzar
			a usar su cuenta.
			Si no puede ver nuestro correo, revise por favor en su carpeta de correo
			No Deseado (SPAM).
			" />
{% endblock %}
