{% extends "core/profile/base.html" %}

{% block extra_head %}
<script type="text/javascript">
jQuery(document).ready(function($){
	$("#micuenta_container").mCustomScrollbar();
	$('#micuenta_box').masonry({
		itemSelector : '.modulo_propiedad'
  	});
});
</script>	
{% endblock %}

{% block profile_id %}micuenta{% endblock %}


{% block profile_title %}Gracias por su compra{% endblock %}


{% block profile_content %}
<div id="micuenta_container">
	<p>
	Pronto recibira la confirmación de su compra y podra aceder a
	<a href="{% url property-create %}">La creación de propiedades</a>
	</p>
</div><!-- /#micuenta_container -->

<div class="clear"></div>
{% endblock %}
