{% extends "core/profile/base.html" %}

{% block extra_head %}
<script type="text/javascript">
jQuery(document).ready(function($){
	$("#micuenta_container").mCustomScrollbar();
	$('#micuenta_box').masonry({
		itemSelector : '.modulo_propiedad'
  	});
});
</script>	
{% endblock %}

{% block profile_id %}micuenta{% endblock %}


{% block profile_title %}Pago Cancelado{% endblock %}


{% block profile_content %}
<div id="micuenta_container">
	<p>
	Si tuvo un problema al realizar la compra o necesita
       	más informacion nos puede contactar por
	<a href="mailto:contacto@nubeinmobiliarai.com.mx">correo electrónico</a> o por medio
	de nuestro <a href="{% url contact-form %}">formulario de contacto</a>
	</p>

</div><!-- /#micuenta_container -->

<div class="clear"></div>
{% endblock %}
