{% extends "core/profile/base.html" %}

{% block extra_head %}
<script type="text/javascript" src="{{ STATIC_URL }}core/js/ad_select.js" ></script>
{% endblock %}

{% block profile_id %}micuenta{% endblock %}


{% block profile_title %}Compra de anuncios{% endblock %}


{% block profile_content %}
<div id="micuenta_container">

	<div id="select-ad">

		<div class="box-select">
			<div class="ad-title">Número de Anuncios</div>
			<div id="less-ad" class="less">-</div>
			<span id="ads" class="numb">1</span>
			<div id="add-ad" class="plus">+</div>
		</div>
		<div class="box-select">
			<div class="ad-title">Número de Meses</div>
			<div id="less-month" class="less">-</div>
			<span id="months" class="numb">1</span>
			<div id="add-month" class="plus">+</div>
		</div>


		<form method="post" action="">
			{% csrf_token %}
			<input type="hidden" value="1" name="ad-id" id="ad-id">
			<button class="continuar">Comprar</button>
		</form>
		<div class="clear"></div>
	</div>


	<div id="ad-detail">
		<ul class="detail-left">
			<li>El tiempo de los anuncios comprados comenzará
			a correr una vez que se active y se lance el anuncio</li>
			<li>Entre más número de anuncios se compren y por más.
			tiempo, los anuncios serán más baratos.</li>
			<li>No se aceptan devoluciones por anuncios comprados.</li>
		</ul>
		<div class="detail-right">
			<table>
				<tr>
					<th>Costo:</th>
					<td id="price"></td>
				</tr>
				<tr>
					<th>IVA:</th>
					<td id="tax"></td>
				</tr>
			</table>
			<div id="total-box">
				<div id="total-title">Total</div>
				<span id="total"></span>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div><!-- /#micuenta_container -->

<div class="clear"></div>
{% endblock %}
