{% extends "base_login.html" %}


{% block title %}Perfil{% endblock %}


{% block profile_left %}
<a href="{% url profile-home %}" id="btn_nube" title="Nube de Propiedades"></a>

{% block profile_menu %}
<ul class="menu_propiedades">
    <li><a href="{% url profile-documents %}" class="documentacion" title="Consulta la Documentaci&oacute;n de tus Propiedades">Documentaci&oacute;n</a></li>
    <li><a href="{% url profile-members %}" class="miembros" title="Conoce a los Miembros">Miembros</a></li>
    <li><a href="{% url profile-account %}" class="cuenta" title="Ve tus propiedades">Mis propiedades</a></li>
    <li><a href="{% url profile-favourites %}" class="favoritos" title="Edita tus Favoritos">Mis Favoritos</a></li>
    <li><a href="{% url property-create %}" class="propiedades fix" title="A&ntilde;ade nuevas Propiedades">A&ntilde;adir Propiedades</a></li>
</ul>
{% endblock %}

<!--ul class="menu_propiedades_2">
    <li><a href="#">Acerca de</a></li>
    <li><a href="#">Newsletter</a></li>
</ul-->

<div class="clear"></div>
{% endblock profile_left %}


{% block profile_right %}
<div id="{% block profile_id %}{% endblock %}" class="{% block profile_class %}padding{% endblock %}">
    <div class="title">
        <h1>{% block profile_title %}{% endblock %}</h1>
    </div>

    {% block profile_content %}
    {% endblock %}

    <div class="clear"></div>
</div>

<br>
{% endblock%}


