{% extends "core/profile/base.html" %}

{% block extra_head %}
<script type="text/javascript">
jQuery(document).ready(function($){
	$("#micuenta_container").mCustomScrollbar();
	$('#micuenta_box').masonry({
		itemSelector : '.modulo_propiedad'
  	});
});
</script>	
{% endblock %}

{% block profile_id %}micuenta{% endblock %}


{% block profile_title %}Compra de anuncios{% endblock %}


{% block profile_content %}
<div id="micuenta_container">

	<div id="micuenta_box">

		{% for ad in object_list %}
		<!-- PROPIEDAD -->
		<div class="modulo_propiedad">
			<h2>Plan {{ad.number_of_ads}} x {{ ad.months }} meses</h2>
			Precio: $ {{ ad.price }} MXN
			<a class="renovar" href="{% url profile-pay ad.id %}">Comprar</a>
			<div class="clear"></div>
		</div><!-- /.modulo_propiedad -->
		{% endfor %}

	</div><!-- /#micuenta_box -->
</div><!-- /#micuenta_container -->

<div class="clear"></div>
{% endblock %}
