{% extends "core/profile/base.html" %}


{% block extra_head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/columnizer.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($){

	$('#documentos').makeacolumnlists({cols: 3, colWidth: 220, equalHeight: 'li'});
	
});
</script>
{% endblock %}


{% block profile_id %}documentacion{% endblock %}


{% block profile_title %}Documentación{% endblock %}


{% block profile_content %}
<p>Estos documentos son publicados única y exclusivamente como un apoyo a los usuarios de la NUBE para el cierre de sus operaciones, pero en ningún momento debe entenderse que existe responsabilidad alguna por parte de la NUBE por el contenido y redacción de los mismos</p>
<ul id="documentos">
    {% for document in documents %}
    <li><a href="{{ document.doc.url }}" target="_blank" title="Descargar">{{ document.name|capfirst }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
