{% extends "core/profile/base.html" %}
{% load thumbnail %}


{% block extra_head %}
<script type="text/javascript">
$(document).ready(function(){
		var $img_field = $('#image-field input');
		$('#image-field').text('');
		$('#image-field').append($img_field);

		$('.errorlist')
		.hide()
		.next()
		.find('label')
		.css('color', 'red');

		var TEXT = '<p id="references-text">Las referencias solicitadas son únicamente para confirmar los años de experiencia en el mercado inmobiliario y son de uso exclusivo de La Nube. La información proporcionada no será mostrada en el sitio, las referencias no serán contactadas por personal de La Nube</p>';

		$('label[for=id_all_info-ref1_name]').before(TEXT);

        /* XXX: Ugly Hack */
        $("label[for=id_user-last_name]").html('Apellidos');

});
</script>
{% endblock %}

{% block profile_id %}editaperfil{% endblock %}


{% block profile_title %}Edit Perfil{% endblock %}


{% block profile_content %}
<ul>

{% for form in forms.values %}
	{% for field in form.visible_fields %}
		{% if field.errors %}
			<li class="error">
			{{ field.label }}: {{ field.errors|join:" ," }}
			</li>
		{% endif %}
	{% endfor%}
	{% for error in form.non_field_errors %}
        <li class="error">
            {{ error }}
        </li>
	{% endfor%}
{% endfor %}
</ul>

<form method="post" action="" enctype="multipart/form-data">
	{% csrf_token %}
	<table class="editar_perfil">
		<tr>
			<td class="datos_perfil">
				{{ forms.user.as_p }}
				{{ forms.profile.as_p  }}

				<input type="submit" class="guardar continuar" value="&iexcl;Guardar!">
				<div class="clear"></div>

			</td>

			<td class="foto">
				<div>
					{% thumbnail profile.image "105x105" crop="center" as im %}
					<img src="{{ im.url }}" alt="imagen perfil" />
					{% empty%}
					<img src="{{ profile.image_default_url }}" alt="imagen default" />
					{% endthumbnail %}
				</div>
				<span id="image-field">
					{{ forms.image.image }}
				</span>
			</td>

		</tr>
	</table>
</form>
{% endblock %}
