{% extends "core/profile/base.html" %}
{% load thumbnail humanize %}

{% block extra_head %}
<script type="text/javascript">
$(document).ready(function() {
	$('.pop_propiedad').fancybox({
			type : 'iframe',
			padding : 30,
			width: 700,
			openEffect : 'elastic',
			openSpeed  : 150,
			closeEffect : 'elastic',
			closeSpeed  : 150,
			closeClick : true
	});


    /* TODO: Promote to some library */
    $('.btn_favoritos').click(function(e){
		    e.preventDefault();
		    var $btn = $(this);
		    var url = $btn.attr('data-url');
		    $.post(url, function(data){
			    $btn.parents('.modulo_propiedad').remove();
		    });
		});
});
</script>
{% endblock %}

{% block profile_id %}misfavoritos{% endblock %}
{% block profile_class %}{% endblock %}


{% block profile_title %}Mis Favoritos{% endblock %}


{% block profile_content %}
<!-- PROPIEDAD -->
{% for obj in object_list %}
<div class="modulo_propiedad">

	<div class="acciones">
		<div class="ver"><a href="{% url property-detail obj.id %}?popup=1" class="pop_propiedad fancybox.iframe"></a></div>
		<div class="descargar"><a href="{% url property-detail obj.id %}?pdf=1"></a></div>
		<div class="eliminar btn_favoritos" data-url="{% url properties-set-favourite obj.id %}"><a href=""></a></div>
	</div><!-- /#acciones -->

	<ul>
		<li>{{ obj.tipo_inmueble }}</li>
		<li>{{ obj.colonia }}</li>
		<li>{{ obj.precio_completo }}</li>
	</ul>

	<table class="iconos">
		<tbody>
		<tr>      
			{% if obj.banos %}
			<td class="cantidad">{{ obj.banos }}</td>
			<td class="banos"></td>
			{% endif %}
			{% if obj.estacionamientos %}
			<td class="cantidad">{{ obj.estacionamientos }}</td>
			<td class="cajones"></td>
			{% endif %}
			{% if obj.habitaciones %}
			<td class="cantidad">{{ obj.habitaciones }}</td>
			<td class="recamaras"></td>
			{% endif %}
		</tr>
		</tbody>
	</table>

	<a href="{% url property-detail obj.id %}?popup=1" class="pop_propiedad fancybox.iframe">
		{% thumbnail obj.main_picture.imagen "175x110" crop="center" upscale=1 as im %}
		<img src="{{ im.url }}" alt="" />
		{% empty %}
		<img src="" alt="Sin imagen" width="175" height="110">
		{% endthumbnail %}
	</a>

</div><!-- /.modulo_propiedad -->
{% endfor%}


{% endblock %}
