{% extends "core/profile/base.html" %}
{% load profile thumbnail %}


{% block profile_id %}miembros{% endblock %}


{% block profile_title %}Miembros{% endblock %}


{% block extra_head %}
<script type="text/javascript">
jQuery(document).ready(function($){
	$('#lista_miembros').makeacolumnlists({cols: 3, colWidth: 220, equalHeight: 'li'});
	$("#lista_miembros_container").mCustomScrollbar({
	});

	$('.pop_member').fancybox({
			type : 'iframe',
			padding : 30,
			width: 700,
			openEffect : 'elastic',
			openSpeed  : 150,
			closeEffect : 'elastic',
			closeSpeed  : 150,
			closeClick : true
	});
});
</script>
{% endblock %}

{% block profile_content %}
<div id="lista_miembros_container">

	<ul id="lista_miembros">
		{% for member in members %}
		{% get_profile member as profile %}
		{% thumbnail profile.image "45x45" crop="center" as im %}
		<li class="has-profile">
		<a href="{% url profile-member-detail member.pk %}" class="pop_member fancybox.iframe">
			<img class="image-profile" src="{{ im.url }}" alt="image profile" />
		</a>
		{% empty %}
		<li>
		{% endthumbnail %}
		<a class="pop_member" href="{% url profile-member-detail member.pk %}">{{ member.get_full_name }}</a>
		</li>
		{% endfor %}
	</ul>
</div><!-- /#lista_miembros_container -->

<div class="clear"></div>
{% endblock %}
