{% extends  "base.html" %}
{% load profile thumbnail %}

{% block title%}Miembro {{ member }}{% endblock %}


{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/modal.css" type="text/css">
{% endblock %}

{% block content %}
{% get_profile member as profile %}

<table id="pop-member">
	<tr>
		<td>
			{% thumbnail member.profile.image "220x300" crop="center" as im %}
			<img src="{{ im.url }}" alt="imagen perfil" />
			{% empty%}
			<img src="{% default_profile_image %}" alt="imagen default" />
			{% endthumbnail %}

		</td>
		<td>
			<table>
				<tr>
					<th>Nombre: </th>
					<td>{{ member.get_full_name }}</td>
				</tr>
				<tr>
					<th>ID: </th>
					<td>{{ member.profile.ref_id }}</td>
				</tr>
				<tr>
					<th>Certificación: </th>
					<td>{{ profile.AMPI }}</td>
				</tr>
				<tr>
					<th>Años de Experiencia: </th>
					<td>{{ profile.experience }}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

{% endblock %}

{% block footer %}
{% endblock %}
