{% extends "core/profile/base.html" %}

{% block extra_head %}
<script type="text/javascript">
jQuery(document).ready(function($){
	$("#micuenta_container").mCustomScrollbar();
	$('#micuenta_box').masonry({
		itemSelector : '.modulo_propiedad'
  	});
});
</script>	
{% endblock %}

{% block profile_id %}micuenta{% endblock %}


{% block profile_title %}Mi Cuenta{% endblock %}


{% block profile_content %}
<div id="micuenta_container">

	<div id="micuenta_box">

		<!-- PROPIEDAD -->
		<div class="modulo_propiedad">
			<h2>Plan 2 anuncios x 3 meses</h2>
			<div class="relative_pic">
				<img src="images/default/img2.jpg" alt="" width="175" height="110">
				<div class="nombre"><p>Ferrocarriles de la Revoluci&oacute;n Mexicana</p></div>
			</div>
			<div class="relative_pic">
				<img src="images/default/img2.jpg" alt="" width="175" height="110">
				<div class="nombre"><p>Miguel &Aacute;ngel de Quevedo</p></div>
			</div>
			<table class="detalles">
				<tbody>
				<tr>
					<td>Fecha de vencimiento: <em>3/Dic/2012</em></td>
				</tr>
				<tr>
					<td>Renovaciones: <em>1</em></td>
				</tr>
				<tr>
					<td>Dinero gastado: <em>$ 2,000.00</em></td>
				</tr>
				</tbody>
			</table>
			<a href="#" class="renovar">Renovar</a>
			<div class="clear"></div>
		</div><!-- /.modulo_propiedad -->


		<!-- PROPIEDAD -->
		<div class="modulo_propiedad">
			<h2>Plan 2 anuncios x 3 meses</h2>
			<div class="relative_pic">
				<img src="images/default/img2.jpg" alt="" width="175" height="110">
				<div class="nombre"><p>Ferrocarriles de la Revoluci&oacute;n Mexicana</p></div>
			</div>
			<div class="relative_pic">
				<img src="images/default/img2.jpg" alt="" width="175" height="110">
				<div class="nombre"><p>Miguel &Aacute;ngel de Quevedo</p></div>
			</div>
			<table class="detalles">
				<tbody>
				<tr>
					<td>Fecha de vencimiento: <em>3/Dic/2012</em></td>
				</tr>
				<tr>
					<td>Renovaciones: <em>1</em></td>
				</tr>
				<tr>
					<td>Dinero gastado: <em>$ 2,000.00</em></td>
				</tr>
				</tbody>
			</table>
			<a href="#" class="renovar">Renovar</a>
			<div class="clear"></div>
		</div><!-- /.modulo_propiedad -->


		<!-- PROPIEDAD -->
		<div class="modulo_propiedad">
			<h2>Plan 2 anuncios x 3 meses</h2>
			<div class="relative_pic">
				<img src="images/default/img2.jpg" alt="" width="175" height="110">
				<div class="nombre"><p>Ferrocarriles de la Revoluci&oacute;n Mexicana</p></div>
			</div>
			<div class="relative_pic">
				<img src="images/default/img2.jpg" alt="" width="175" height="110">
				<div class="nombre"><p>Miguel &Aacute;ngel de Quevedo</p></div>
			</div>
			<div class="relative_pic">
				<img src="images/default/img2.jpg" alt="" width="175" height="110">
				<div class="nombre"><p>Miguel &Aacute;ngel de Quevedo</p></div>
			</div>
			<div class="relative_pic">
				<img src="images/default/img2.jpg" alt="" width="175" height="110">
				<div class="nombre"><p>Miguel &Aacute;ngel de Quevedo</p></div>
			</div>
			<table class="detalles">
				<tbody>
				<tr>
					<td>Fecha de vencimiento: <em>3/Dic/2012</em></td>
				</tr>
				<tr>
					<td>Renovaciones: <em>1</em></td>
				</tr>
				<tr>
					<td>Dinero gastado: <em>$ 2,000.00</em></td>
				</tr>
				</tbody>
			</table>
			<a href="#" class="renovar">Renovar</a>
			<div class="clear"></div>
		</div><!-- /.modulo_propiedad -->


		<!-- PROPIEDAD -->
		<div class="modulo_propiedad">
			<h2>Plan 2 anuncios x 3 meses</h2>
			<div class="relative_pic">
				<img src="images/default/img2.jpg" alt="" width="175" height="110">
				<div class="nombre"><p>Ferrocarriles de la Revoluci&oacute;n Mexicana</p></div>
			</div>
			<div class="relative_pic">
				<img src="images/default/img2.jpg" alt="" width="175" height="110">
				<div class="nombre"><p>Miguel &Aacute;ngel de Quevedo</p></div>
			</div>
			<table class="detalles">
				<tbody>
				<tr>
					<td>Fecha de vencimiento: <em>3/Dic/2012</em></td>
				</tr>
				<tr>
					<td>Renovaciones: <em>1</em></td>
				</tr>
				<tr>
					<td>Dinero gastado: <em>$ 2,000.00</em></td>
				</tr>
				</tbody>
			</table>
			<a href="#" class="renovar">Renovar</a>
			<div class="clear"></div>
		</div><!-- /.modulo_propiedad -->


		<!-- PROPIEDAD -->
		<div class="modulo_propiedad">
			<h2>Plan 2 anuncios x 3 meses</h2>
			<div class="relative_pic">
				<img src="images/default/img2.jpg" alt="" width="175" height="110">
				<div class="nombre"><p>Ferrocarriles de la Revoluci&oacute;n Mexicana</p></div>
			</div>
			<div class="relative_pic">
				<img src="images/default/img2.jpg" alt="" width="175" height="110">
				<div class="nombre"><p>Miguel &Aacute;ngel de Quevedo</p></div>
			</div>
			<table class="detalles">
				<tbody>
				<tr>
					<td>Fecha de vencimiento: <em>3/Dic/2012</em></td>
				</tr>
				<tr>
					<td>Renovaciones: <em>1</em></td>
				</tr>
				<tr>
					<td>Dinero gastado: <em>$ 2,000.00</em></td>
				</tr>
				</tbody>
			</table>
			<a href="#" class="renovar">Renovar</a>
			<div class="clear"></div>
		</div><!-- /.modulo_propiedad -->


		<!-- PROPIEDAD -->
		<div class="modulo_propiedad">
			<h2>Plan 2 anuncios x 3 meses</h2>
			<div class="relative_pic">
				<img src="images/default/img2.jpg" alt="" width="175" height="110">
				<div class="nombre"><p>Ferrocarriles de la Revoluci&oacute;n Mexicana</p></div>
			</div>
			<div class="relative_pic">
				<img src="images/default/img2.jpg" alt="" width="175" height="110">
				<div class="nombre"><p>Miguel &Aacute;ngel de Quevedo</p></div>
			</div>
			<table class="detalles">
				<tbody>
				<tr>
					<td>Fecha de vencimiento: <em>3/Dic/2012</em></td>
				</tr>
				<tr>
					<td>Renovaciones: <em>1</em></td>
				</tr>
				<tr>
					<td>Dinero gastado: <em>$ 2,000.00</em></td>
				</tr>
				</tbody>
			</table>
			<a href="#" class="renovar">Renovar</a>
			<div class="clear"></div>
		</div><!-- /.modulo_propiedad -->


		<!-- PROPIEDAD -->
		<div class="modulo_propiedad">
			<h2>Plan 2 anuncios x 3 meses</h2>
			<div class="relative_pic">
				<img src="images/default/img2.jpg" alt="" width="175" height="110">
				<div class="nombre"><p>Ferrocarriles de la Revoluci&oacute;n Mexicana</p></div>
			</div>
			<div class="relative_pic">
				<img src="images/default/img2.jpg" alt="" width="175" height="110">
				<div class="nombre"><p>Miguel &Aacute;ngel de Quevedo</p></div>
			</div>
			<table class="detalles">
				<tbody>
				<tr>
					<td>Fecha de vencimiento: <em>3/Dic/2012</em></td>
				</tr>
				<tr>
					<td>Renovaciones: <em>1</em></td>
				</tr>
				<tr>
					<td>Dinero gastado: <em>$ 2,000.00</em></td>
				</tr>
				</tbody>
			</table>
			<a href="#" class="renovar">Renovar</a>
			<div class="clear"></div>
		</div><!-- /.modulo_propiedad -->


		<!-- PROPIEDAD -->
		<div class="modulo_propiedad">
			<h2>Plan 2 anuncios x 3 meses</h2>
			<div class="relative_pic">
				<img src="images/default/img2.jpg" alt="" width="175" height="110">
				<div class="nombre"><p>Ferrocarriles de la Revoluci&oacute;n Mexicana</p></div>
			</div>
			<div class="relative_pic">
				<img src="images/default/img2.jpg" alt="" width="175" height="110">
				<div class="nombre"><p>Miguel &Aacute;ngel de Quevedo</p></div>
			</div>
			<table class="detalles">
				<tbody>
				<tr>
					<td>Fecha de vencimiento: <em>3/Dic/2012</em></td>
				</tr>
				<tr>
					<td>Renovaciones: <em>1</em></td>
				</tr>
				<tr>
					<td>Dinero gastado: <em>$ 2,000.00</em></td>
				</tr>
				</tbody>
			</table>
			<a href="#" class="renovar">Renovar</a>
			<div class="clear"></div>
		</div><!-- /.modulo_propiedad -->


	</div><!-- /#micuenta_box -->        
</div><!-- /#micuenta_container -->

<div class="clear"></div>
{% endblock %}
