{% extends "core/profile/base.html" %}

{% block extra_head %}
<script type="text/javascript">
jQuery(document).ready(function($){
	$("#micuenta_container").mCustomScrollbar();
	$('#micuenta_box').masonry({
		itemSelector : '.modulo_propiedad'
  	});
});
</script>	
{% endblock %}

{% block profile_id %}micuenta{% endblock %}


{% block profile_title %}Metodos de Págo{% endblock %}


{% block profile_content %}
<div id="micuenta_container">

	<div id="micuenta_box">

		<!-- PROPIEDAD -->
		<div class="modulo_propiedad">
			<h2>Membresia {{object.name}}</h2>
			<h2>Precio: $ {{ object.price }} MXN</h2>
			<p style="color:gray">  {{ object.description }}</p>
			<div class="clear"></div>
		</div><!-- /.modulo_propiedad -->

	</div><!-- /#micuenta_box -->
	<hr/>
	{{ form }}
</div><!-- /#micuenta_container -->

<div class="clear"></div>
{% endblock %}
