{% extends "core/profile/base.html" %}

{% block extra_head %}
<script type="text/javascript">
jQuery(document).ready(function($){
	$("#micuenta_container").mCustomScrollbar();
	$('#micuenta_box').masonry({
		itemSelector : '.modulo_propiedad'
  	});
});
</script>	
{% endblock %}

{% block profile_id %}micuenta{% endblock %}


{% block profile_title %}Metodos de Págo{% endblock %}


{% block profile_content %}
<div id="micuenta_container">

	<div id="micuenta_box">

		<!-- PROPIEDAD -->
		<div class="modulo_propiedad">
			<h2>Plan {{object.number_of_ads}} x {{ object.months }} meses</h2>
			<h2>Precio: $ {{ object.price|floatformat:2 }} MXN</h2>
			<h2>IVA: $ {{ object.tax|floatformat:2 }} MXN</h2>
			<h2>Total: $ {{ object.total|floatformat:2 }} MXN</h2>

			<div class="clear"></div>
		</div><!-- /.modulo_propiedad -->

	</div><!-- /#micuenta_box -->
	<hr/>
	{{ form }}
</div><!-- /#micuenta_container -->

<div class="clear"></div>
{% endblock %}
