{% extends "core/profile/base.html" %}

{% block extra_head %}
<script type="text/javascript">
jQuery(document).ready(function($){
	$("#micuenta_container").mCustomScrollbar();
	$('#micuenta_box').masonry({
		itemSelector : '.modulo_propiedad'
  	});
});
</script>	
{% endblock %}

{% block profile_id %}micuenta{% endblock %}


{% block profile_title %}Seleciona una membresía{% endblock %}


{% block profile_content %}
<div id="micuenta_container">

	<div id="micuenta_box">

		{% for membership in object_list %}
		<!-- PROPIEDAD -->
		<div class="modulo_propiedad">
			<h2> Membresía {{membership.name}}</h2>
			Precio: $ {{ membership.price }} MXN
			<p style="color:gray">{{ membership.description }}</p>
			<a class="renovar" href="{% url profile-pay-membership membership.id %}">Comprar</a>
			<div class="clear"></div>
		</div><!-- /.modulo_propiedad -->
		{% endfor %}

	</div><!-- /#micuenta_box -->
</div><!-- /#micuenta_container -->

<div class="clear"></div>
{% endblock %}
