{% extends "base_no_login.html" %}

{% block title %}Acerca de{% endblock %}

{% block content%}
<!-- CONTENIDO ACERCA DE -->
<div id="acercade" class="bg_gris_claro">
    
        <div class="wrapper">
        
        	<div class="left">
        
                <h1>EL EQUIPO DE LA NUBE INMOBILIARIA </h1>
            
                <p>La NUBE Inmobiliaria es una red hecha POR corredores profesionales PARA corredores profesionales y aquellas personas dispuestas a tener una formación profesional en este mercado inmobiliario.</p>
                
                <p>La red esta dise&ntilde;ada para agilizar el cierre de operaciones entre dos Corredores inmobiliarios.</p> 
                
                <p>La red fue dise&ntilde;ada con la finalidad de de apoyar a todos aquellos corredores inmobiliarios independientes por medio de una red social enfocada exclusivamente para corredores, proveyendo un conjunto de servicios pensados con la finalidad de acelerar el proceso de compra venta de inmuebles y propiciar la seguridad, confianza y satisfacción tanto de los usuarios como de los clientes.</p>
                <br><br>
		<img src="{{ STATIC_URL }}images/default/img-1.jpg" alt="">
                
            </div>
            
            <div class="right">
            	<div class="redbox">
                	<h2>MISI&Oacute;N</h2>
                    <p>En La NUBE estamos motivados por la idea de brindarle a los asesores inmobiliarios independientes los servicios mas completos para facilitar el proceso de venta o renta de cualquier tipo de inmueble.</p>
                    <hr>
                    <h2>VISI&Oacute;N</h2>
                    <p>Profesionalizar la cultura del medio inmobiliario en beneficio de todos sus integrantes.</p>
                    <p>Crear una nueva forma de ver el negocio de bienes ra&iacute;ces, ser reconocidos como una empresa que destaca por su excelente atenci&oacute;n a clientes y constante mejora e innovaci&oacute;n en los servicios que provee tanto en M&eacute;xico como en el resto del mundo.</p>
                </div>
            </div>
            
            <div class="clear"></div>
        
        </div>
</div><!-- /#acercade -->

<div class="wrapper">

    <div class="light_gray">
        <p>&quot;Nuestro objetivo es simplificar y agilizar los cierres de las operaciones entre dos asesores inmobiliarios independientes con comisiones preestablecidas.&quot;</p>
    </div>
    
    <h1>BENEFICIOS</h1>
    <div class="largebox">
        <div class="left first">
            <h2>Ingresos</h2>
            <p>Agiliza tu proceso de ventas e incrementa tus ingresos.</p>
            <hr>
            <h2>Clientes</h2>
            <p>Expande tu red de clientes de forma exponencial.</p>
        </div>
        <div class="left fix">
            <h2>Impacto</h2>
            <p>Maximiza tu impacto.</p>
            <hr>
            <h2>Asesores</h2>
            <p>Crea contactos y nuevas relaciones con otros asesores inmobiliarios.</p>
        </div>
        <div class="left">
            <h2>Nuevos desarrollos</h2>
            <p>Acceso a piso de ventas en desarrollos nuevos.</p>
            <hr>
            <h2>Servicios legales</h2>
            <p>Aprovecha los servicios legales y de financiamiento.</p>
        </div>
        <div class="left last">
            <h2>Nacional e internacional</h2>
            <p>&iquest;Te interesa vender y comprar inmuebles a nivel nacional y en el extranjero?</p>
        </div>
        
        <div class="clear"></div>
        
    </div><!-- /.largebox -->
</div><!-- /.wrapper -->

<div id="faq">

	<div class="wrapper">
    
    		<div class="pregunta">
			<h1>QUI&Eacute;NES SOMOS</h1><img src="{{ STATIC_URL }}images/ui/triangulito2.png" alt="">
            	<div class="clear"></div>
            </div><!-- /.pregunta -->
            
            <div class="respuesta">
                <p>Somos una bolsa inmobiliaria en la que:</p>
                <ul>
                    <li>Los corredores pueden subir sus propiedades, así como tambi&eacute;n promover y cerrar ventas con las de los dem&aacute;s miembros.</li>
                    <li>Las desarrolladoras subirán sus productos nuevos para que todos los asesores afiliados los puedan promover.</li>
                    <li>Coordinamos y asesoramos en materia legal y de financiamiento.</li>
                    <li>Grupo de profesionales con 38 años de experiencia en el mercado inmobiliario.</li>
                </ul>
            </div><!-- /.respuesta -->
    
    
	</div><!-- /.wrapper -->
    
    <div class="diagonals small"></div>

	<div class="wrapper">
    
    		<div class="pregunta">
			<h1>QU&Eacute; ES LA NUBE</h1><img src="{{ STATIC_URL }}images/ui/triangulito2.png" alt="">
            	<div class="clear"></div>
            </div><!-- /.pregunta -->
            
            <div class="respuesta">
                <p>Somos una bolsa inmobiliaria en la que:</p>
                <ul>
                    <li>Somos una NUBE de información mediante la cual se promueve la compra, venta y renta de inmuebles exclusiva para asesores inmobiliarios independientes.</li>
                    <li>Empresa promotora de inmuebles la cual utiliza plataformas móviles y web para que sus afiliados den a conocer sus productos de la forma mas sencilla, clara y rápida.</li>
                    <li>La NUBE apoya la idea de hacer el proceso de compra de inmuebles o mas sencillo y práctico para todas las partes, acompañando al asociado desde la búsqueda de la propiedad perfecta para su cliente hasta el cierre de la venta, brindando apoyo con los tramites legales y otorgando Asesoría financiera de ser necesario.</li>
                </ul>
            </div><!-- /.respuesta -->
    
    
	</div><!-- /.wrapper -->
    
    <div class="diagonals small"></div>

	<div class="wrapper">
    
    		<div class="pregunta">
			<h1>QU&Eacute; VENTAJAS OBTENDR&Aacute;S CON LA NUBE</h1><img src="{{ STATIC_URL }}images/ui/triangulito2.png" alt="">
            	<div class="clear"></div>
            </div><!-- /.pregunta -->
            
            <div class="respuesta">
                <h2>CRECER TUS NEGOCIOS</h2>
                <ul>
                    <li>Al poder contactarse directamente por medio del portal, el Corredor que por un lado trae la propiedad y por otro lado el Corredor que trae el cliente, la cadena de asesores intermediarios o contactos se elimina. Por lo tanto, se purifica la venta y aumentan los ingresos ya que estos sólo se reparten entre 2 personas. Incrementa tus comisiones, elimina las cadenas.</li>
                    <li>Incremento de la velocidad de cierre de negocios.</li>
                Gracias a que existe una amplia, correcta y sólida base de propiedades ofertadas en el portal, los negocios se cierran más rápidamente ya que no se pierde tiempo en comprobar las características de la propiedad o la confiabilidad de los Corredores. Por lo anterior se evita dividir entre muchos Corredores la comisión y pérdida de tiempo innecesaria, por lo que se cierran más operaciones en un mes con lo cual los Corredores acaban ganando más aún cuando hayan compartido comisiones. Agiliza tus ventas y pedidos.</li>
                </ul>
                
                <h2>CONFIABILIDAD CON QUIEN SE HACE EL NEGOCIO</h2>
                <ul>
                    <li>Un objetivo fundamental del portal es la de asegurar que los Corredores sean éticos al realizar sus operaciones, así como asegurar la integridad de la información de las propiedades y evitar su duplicidad. Ello conlleva mayor seguridad y confiabilidad entre los Corredores al momento de toda la operación de venta. Confiabilidad.</li>
                    <li>Podrás contactar a otros Corredores Profesionales a nivel área metropolitana y nacional para poder intercambiar propiedades tanto en venta renta como en renta. Unete a la única red de promotores inmobiliarios profesionales de México.</li>
                    <li>Podrás ofrecer tu mercancía a un muy bajo costo con Corredores los cuales tienen pedidos de mercancía que tú podrías tener y desplazarla rápidamente. Accesibilidad de propiedades.</li>
                    <li>Y a la vez los pedidos que tú tienes podrás encontrar rápida y ágilmente la mercancía que requiere tu cliente para cubrir sus necesidades. Ahorrarás horas en búsqueda en varios sitios inmobiliarios lo cual se concentrará únicamente en La Nube y te permitirá ahorrar horas en búsqueda física al evitar recorrerlas todas. Ahorra tiempo en busquedas inutiles.</li>
                    <li>Finalmente se logrará transparentar las negociaciones entre los Corredores ya que se te permitirá registrar al cliente tanto en el sistema como en una hoja de registro que podrás imprimir del mismo y podrá llevarlo a la cita para obtener la aceptación escrita del otro Corredor.</li>
                </ul>
                
                <h2>CONFIABILIDAD DE MERCANC&Iacute;A Y AHORRO EN TIEMPO</h2>
                <ul>
                    <li>Uno de los principales objetivos de La Nube es asegurarse que exista una amplia, correcta y sólida base de propiedades ofertadas en el portal por lo que los negocios se cierran más rápidamente ya que no se pierde tiempo en comprobar las características de la propiedad.</li>
                    <li>Facilitar la negociación de comisiones dado que en el portal cada propiedad ya está pre-establecido el porcentaje de la comisión que trae contratado el Corredor, así como el porcentaje que está dispuesto a compartir con otro Corredor.</li>
                    <li>También te permitirá uniformar criterios relativos a evaluaciones de propiedades que manejas al realizar comparativos fehacientes y podrás uniformar mecánicas de trabajo con todos los Corredores que vas a atender. Por lo tanto fácilmente podrás realizar tu estudio de mercadeo.</li>
                    <li>Ten la oportunidad de rankear positivamente a aquellos corredores con quienes has podido cerrar un negocio de manera satisfactoria.</li>
                    <li>Entre mas negocios cierres y mejor séa tu ranking serán mayores tus oportunidades de hacer nuevos negocios y obtendrás mayores beneficios por parte del equipo de la NUBE.</li>
                    <li>Tendras derecho a promover desarrollos nuevos.</li>
                    <li>Promover discretamente la filosofía de comisiones 60 – 40.</li>
                    <li>Transparencia en la negociación de comisiones entre corredores.</li>
                    <li>Información fehaciente para realizar estudios de mercado.</li>
                </ul>
                <p>&nbsp;</p>
             </div><!-- /.respuesta -->  
    
	</div><!-- /.wrapper -->
    
</div><!-- /#faq -->

{% endblock %}
