{% extends "base_no_login.html" %}


{% block title %}DUDAS{% endblock %}


{% block content %}
<div class="diagonals2"></div>


<div id="faq">

	{% for faq in object_list %}
	<div class="wrapper">
		<div class="pregunta">
			<h1>{{ forloop.counter }}. {{ faq.question }}</h1>
			<img src="{{ STATIC_URL }}images/ui/triangulito2.png" alt="">
			<div class="clear"></div>
		</div><!-- /.pregunta -->

		<div class="respuesta">
			<p>{{ faq.answer }}</p>
		</div><!-- /.respuesta -->
	</div><!-- /.wrapper -->
	<!--div class="diagonals small"></div-->
	{% endfor %}

</div><!-- /#faq -->
{% endblock %}
