{% extends "base_no_login.html" %}

{% block content %}
<!-- BIENVENIDA -->
<div id="bienvenida" class="bg_gris_claro">
	<div class="wrapper">

    	<div class="left">
        
            <h1>&iexcl;Bienvenido!</h1>
            <ul class="cta">
		    <li><a href="{% url registration_register %}" title="Registro a Nube Inmobiliaria" class="registro_cta">REGISTRO</a></li>
		    <li><a href="{% url login %}" title="Login a Nube Inmobiliaria" class="login_cta">LOGIN</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        
        <div class="right">
        	
		<iframe width="370" height="208" src="{{ youtube_src }}" frameborder="0" allowfullscreen></iframe>
            
        </div>
        <div class="clear"></div>
        
	</div>
</div><!-- /#bienvenida -->

<div class="light_gray">
	<p>&quot;Nuestro objetivo es simplificar y agilizar los cierres de las operaciones entre dos asesores inmobiliarios independientes con comisiones preestablecidas.&quot;</p>
</div>



<!-- CONTENIDO HOME -->
<div id="home">

	<div class="wrapper fix">
        
        <h2>BENEFICIOS</h2>
        <div class="minibox fix">
            <h3>Ingresos</h3>
            <p>Agiliza tu proceso de ventas e incrementa tus ingresos.</p>
        </div><!-- /.minibox -->
        
        
        <div class="minibox fix">
            <h3>Clientes</h3>
            <p>Expande tu red de clientes de forma exponencial.</p>
        </div><!-- /.minibox -->
        
        
        <div class="minibox fix">
            <h3>Asesores</h3>
            <p>Crea contactos y nuevas relaciones con otros asesores inmobiliarios.</p>
        </div><!-- /.minibox -->
        
        
        <div class="minibox">
            <h3>Servicios legales</h3>
            <p>Aprovecha los servicios legales y de financiamiento.</p>
        </div><!-- /.minibox -->
        
        
        <div class="minibox">
            <h3>Nacional e Internacional</h3>
            <p>¿Te interesa vender y comprar inmuebles a nivel nacional y en el extranjero?</p>
        </div><!-- /.minibox -->
        
        <div class="clear"></div>
        
    </div>

	<div class="diagonals"></div>
    
</div><!-- /#home -->
{% endblock %}
