{% extends "base_no_login.html" %}
{% load markup %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block content %}
<div id="flatpage">
	<div class="wrapper">
		{{ flatpage.content|markdown }}
	</div>
</div>
{% endblock %}
