<div class="titulo">
    Términos y condiciones de uso
</div>
<div class="parrafo">
    <p>
        Econtact Inmobiliaria Sociedad Anónima de Capital Variable en lo sucesivo “Econtact”, con la finalidad de apoyar a todos los profesionales inmobiliarios del país ha desarrollado esta Bolsa Inmobiliaria cuyo objetivo es poner en contacto a profesionales inmobiliarios de todo el país, para que puedan ser más productivos y exitosos. Para cumplir dicho objetivo, ofrecemos servicios a través de nuestro sitio web, aplicaciones móviles y plataformas de programadores independientes, para ayudar a todos sus afiliados para intercambiar información respecto de las propiedades que tengan en promoción y así llegar a acuerdos que les permita concretar cierres de operaciones con mayor facilidad y agilidad.
    </p>
    
    <p>
        Para poderte acceder a la Bolsa Inmobiliaria debes de aceptar los siguientes “Términos y Condiciones” de uso, mismo que en todo momento pueden ser cambiados sin responsabilidad alguna de Econtact Inmobiliaria Sociedad Anónima de Capital Variable, y sin ninguna notificación siendo solo necesario publicar los cambios en el Sitio Web.
    </p>

    <p>
       Por el simple hecho de que se registre y pague la cuota de inscripción o anualidad, acepta todos los términos y condiciones y con ello formaliza un contrato jurídicamente vinculante con Econtact Inmobiliaria Sociedad Anónima de Capital Variable quien tiene su domicilio en _______________________________ y su Registro Federal de Contribuyentes es __________________________. Ninguna persona que nos lo acepte podrá tener acceso a la Bolsa Inmobiliaria.
    </p>
    
    <p>
    	<ol>
    		<li>
    			Leyes Aplicables y este Contrato. Debes cumplir con toda la legislación aplicable, el Contrato, junto con las modificaciones que eventualmente se introduzcan con o sin previo aviso, y las políticas y procedimientos que para tales efectos se establezcan. 
    		</li>
    		<br>
    		<li>
    			Para poder utilizar el Servicio debes cumplir los siguientes requisitos y declarar y garantizar que:(1) ser mayor de 18 años; (2) no tener restringido el uso de los Servicios, ni se le haya suspendido o restringido los servicios por alguna acción contraria a estos “Términos y Condiciones” cometida con anterioridad; (3) no ser un competidor de Econtact ni esté utilizando los Servicios para competir con Econtact; (4) sólo mantendrás una cuenta en la Bolsa Inmobiliaria de Econtact al mismo tiempo; (5) no infringirás ningún derecho de Econtact, incluyendo derechos de propiedad intelectual, como copyright y marcas; (6) la información publicada no pone en riesgo derechos de propiedad intelectual de terceros por lo cual lo publicado es cierto y veraz, manifestando por el simple hecho de ingresar a la Bolsa Inmobiliaria que la información es de su propiedad y que no afecta derechos de terceros en especial lo relativo a propiedad industrial (7) asumes el costo de todo el equipo, software y acceso a Internet necesarios para utilizar los Servicios; (8) Pagar tu inscripción y/o anualidad según sea el caso y (9) Publicar dos propiedades cuando menos cada treinta días naturales. 
    		</li>
    		<br>
    		<li>
    			Está de acuerdo y conviene en que: (1) mantendrá su contraseña segura y confidencial y esta será responsabilidad suya; (2) no permitirá que otros utilicen su cuenta; (3) se abstendrá de utilizar cuentas de otros usuarios; (4) se abstendrá de vender, comercializar o de cualquier otro modo transferir tu cuenta de Econtact a un tercero; (5) se abstendrá de cobrar a otros por el acceso a cualquier parte de Econtact o a la información allí contenida y (6) Está de acuerdo en que en caso de no publicar tres propiedades conforme estos términos y condiciones, no podrá tener acceso a ver la bolsa inmobiliaria con independencia de que haya cubierto los derechos de dichas publicaciones o la propia inscripción o anualidad. 
    		</li>
    		<br>
    		<li>
    			En lo que se refiere a mensajes y notificaciones sobre el servicio que te ofrecemos, Econtact podrá publicar un aviso en forma de banner en sus páginas para avisarte sobre determinados cambios como modificaciones a este Contrato. Por otro lado, el aviso podrá consistir en un correo electrónico de Econtact enviado a una de las direcciones que haya registrado al momento de realizar tu solicitud de afiliación. 
    		</li>
    		<br>
    		<li>
    			Está de acuerdo y acepta que en todo momento se puede tener acceso, conservar y revelar los datos de registro y cualquier otra información suministrada si así lo exige la legislación o si de buena fe se considera que ese acceso, conservación o divulgación es razonablemente necesaria desde nuestro punto de vista para: (1) cumplir con un procedimiento judicial, incluyendo pero sin limitación citaciones para un juicio civil o penal, órdenes de un juzgado u otras relevaciones obligatorias; (2) hacer cumplir este Contrato; (3) responder a reclamaciones por la violación de los derechos de terceros, sea o no el tercero un Usuario, individuo u organismo gubernamental; (4) responder a las preguntas del Servicio de atención al cliente; o (5) proteger los derechos, propiedades o seguridad personal de Econtact, nuestros Usuarios y el público en general. 
    		</li>
    		<br>
    		<li>
    			Las relaciones que se realicen por medio de la Bolsa Inmobiliaria es responsabilidad única de los usuarios, por lo cual en ningún momento Econtact o sus empleados, accionistas o proveedores tendrán responsabilidad alguna.<br><br>
Desde este momento conviene y está de acuerdo que la situación legal de las propiedades es responsabilidad de sus propietarios y que por tanto los profesionales inmobiliarios que publiquen o comercialicen con las mismas deberán de hacer del conocimiento de los interesados de cualquier situación adversa que impida o no permita que se lleguen a buen término o fin con las diversas negociaciones que se pudieran dar con motivo de los enlaces o contactos que obtengan por parte del Sitio Web deslindando a Econtact de cualquier responsabilidad por dicho concepto en virtud de ser únicamente un medio para realizar contacto entre profesionales inmobiliarios y en ningún momento tener la obligación o responsabilidad de revisar la documentación de las propiedades o la identidad de sus propietarios.
    		</li>
    		<br>
    		<li>
    			Econtact podrá rescindir este Contrato incluso sin previa notificación, en cualquier momento, si considera que el usuario o cliente a contravenido las políticas y términos de uso. Dicha rescisión tendrá efectos inmediatos o según se especifique en la notificación si llegare a existir.
    		</li>
    		<br>
    		<li>
  			El usuario o cliente no estará facultado para ceder o delegar ya sea total o parcialmente los derechos y obligaciones que adquiere mediante la celebración del presente. Cualquier supuesta cesión y delegación realizada por el cliente o usuario no causara efecto legal alguno. En contraste, Econtact puede ceder o delegar ya sea total o parcialmente libremente los derechos y obligaciones que contrate en virtud de este Contrato sin previo aviso. También estará facultado para sustituir, mediante novación unilateral a otra sociedad que asuma sus derechos y obligaciones de este Contrato. 
    		</li>
    		<br>
    		<li>
    			“Econtact” es el único y exclusivo titular de los derechos sobre los títulos, contenido (incluyendo, por ejemplo, audio, fotografías, ilustraciones, gráficos, otros medios visuales, videos, copias, textos, software, títulos, etc.), códigos, datos y materiales del mismo, el aspecto y el ambiente, el diseño y la organización del Sitio Web, la compilación de los contenidos, códigos, datos y los materiales en el Sitio Web, incluyendo pero no limitado a, cualesquiera derechos de autor, derechos de marca, derechos de patente, derechos de base de datos, derechos morales, derechos sui generis y otras propiedades intelectuales, derechos patrimoniales del mismo, y en general de todo el Sitio Web. El uso del Sitio Web no le otorga propiedad de ninguno de los contenidos, códigos, datos o materiales a los que pueda acceder en o a través del Sitio Web.
    		</li>
    		<br>
    		<li>
    			El cliente y el usuario podrá (i) acceder y ver el contenido del Sitio Web desde su computadora o desde cualquier otro aparato y, a menos de que se indique de otra manera en estos Términos y Condiciones o en el Sitio Web, y (ii) sacar copias o impresiones individuales del contenido del Sitio Web para su uso personal, interno únicamente. Derivado de lo anterior, el uso del Sitio Web y de los servicios que se ofrecen en o a través del Sitio Web, son sólo para su uso personal, no comercial.
    		</li>
    		<br>
    		<li>
    			Cualquier distribución, publicación o explotación comercial o promocional del Sitio Web, o de cualquiera de los contenidos, códigos, datos o materiales en el Sitio Web, está estrictamente prohibida, a menos de que usted haya recibido el previo permiso expreso por escrito del personal autorizado de “Econtact” o de algún otro poseedor de derechos aplicable. Por lo anterior, estará expresamente prohibido de manera enunciativa mas no limitativamente descargar, informar, exponer, publicar, copiar, reproducir, distribuir, transmitir, modificar, ejecutar, difundir, transferir, vender o de cualquier otra manera explotar cualquiera de los contenidos, códigos, datos o materiales en o disponibles a través del Sitio Web. En caso de realizar algún acto  acción que vaya en contra a lo anteriormente estipulado, se podrá estar violando las leyes de derechos de autor y otras leyes de los Estados Unidos Mexicanos ("México") y de otros países, así como las leyes estatales aplicables, y podrá ser sujeto a responsabilidad legal por dicho uso no autorizado.
    		</li>
    		<br>
    		<li>
    			Las marcas comerciales, logos, marcas de servicios, marcas registradas (conjuntamente las "Marcas Comerciales") expuestas en el Sitio Web o en los contenidos disponibles a través del Sitio Web son Marcas Comerciales de “Econtact”, registradas y no registradas y otras, y no pueden ser usadas con respecto a productos y/o servicios que no estén relacionados, asociados o patrocinados por sus poseedores de derechos y que puedan causar confusión a los clientes, o de alguna manera que denigre o desacredite a sus poseedores de derechos, a no ser que se cuente con autorización de “Econtact”. Todas las Marcas Comerciales que no sean de “Econtact” que aparezcan en el Sitio Web o en o a través de los servicios del Sitio Web, si las hubiera, son propiedad de sus respectivos dueños. El mal uso de las Marcas Comerciales expuestas en el Sitio Web o en o a través de cualquiera de los servicios del Sitio Web está estrictamente prohibido.
    		</li>
    		<br>
    		<li>
    			“Econtact” puede, de vez en cuando, tener servicios de mensajería, servicios de chateo, tableros de noticias, blogs, otros foros y otros servicios disponibles en o a través del Sitio Web. Además de cualquier otra normatividad y regulación que podamos publicar con respecto a un servicio en particular, usted se obliga a no cargar, informar, transmitir, distribuir o de otra manera publicar a través del Sitio Web o de cualquier servicio o artículo puesto a la disposición en o a través del Sitio Web, cualquier material que (i) restrinja o inhiba a cualquier otro usuario de usar y disfrutar del Sitio Web o de los servicios del Sitio Web, (ii) sea fraudulento, ilegal, amenazante, abusivo, hostigante, calumnioso, difamatorio, obsceno, vulgar, ofensivo, pornográfico, profano, sexualmente explícito o indecente, (iii) constituya o aliente conductas que pudieran constituir una ofensa criminal, dar lugar a responsabilidad civil o de otro modo violar cualquier ley local, estatal, nacional o internacional, (iv) viole, plagie o infrinja los derechos de terceros incluyendo, sin limitación, derechos de autor, marcas comerciales, secretos comerciales, confidencialidad, contratos, patentes, derechos de privacidad o publicidad o cualquier otro derecho de propiedad, (v) contenga un virus, elemento de espionaje u otro componente dañino, (vi) contenga enlaces fijos, publicidad, cartas de cadenas o esquemas de pirámides de cualquier tipo, o (vii) constituya o contenga indicaciones de origen, endosos o declaraciones de hechos falsos o engañosos. 
    		</li>
    		<br>
    		<li>
    			“Econtact” se reserva el derecho, pero no tiene la obligación, de monitorear y/o revisar todos los materiales enviados al Sitio Web o a través de los servicios o artículos del Sitio Web por los usuarios, y no es responsable de dichos materiales enviados por los usuarios. Sin embargo, se reserva el derecho de editar, rehusarse a colocar o a quitar cualquier información o materiales, todos o en parte, que a discreción únicamente de “Econtact” sean censurables o en violación de estos Términos y Condiciones de Uso, de las políticas de “Econtact” o de la ley aplicable, sin notificación previa y sin responsabilidad alguna. 
    		</li>
    		<br>
    		<li>
    			El usuario y/o cliente, se obliga a indemnizar y a sacar en paz y a salvo a “Econtact”, a sus directores, funcionarios, empleados, agentes y sus sociedades filiales, de cualquier demanda, responsabilidad, costos y gastos, de cualquier naturaleza, incluyendo honorarios de abogados, en que incurriera como resultado del uso del Sitio Web, su colocación o transmisión de cualquier mensaje, contenido, información, software u otros materiales a través del Sitio Web, o su incumplimiento o violación de la ley o de estos Términos y Condiciones. “Econtact” se reserva el derecho, a su propio costo, de asumir la defensa y control exclusivos de cualquier asunto de otra manera sujeto a indemnización por parte suya, y en dicho caso, usted se obliga a cooperar con “Econtact” en la defensa de dicha demanda.
    		</li>
    		<br>
    		<li>
    			En el caso de que cualquier Usuario o un tercero considere que cualquiera de los Contenidos han sido introducido en el Portal con violación de sus derechos de propiedad intelectual deberá enviar una carta a la Empresa que contenga los siguientes elementos: (a) datos personales: nombre, dirección, número de teléfono y dirección de correo electrónico del reclamante; (b) forma auténtica o equivalente, con los datos personales del titular de los derechos de propiedad intelectual supuestamente infringidos o de la persona autorizada conforme a derecho para actuar en nombre y por cuenta del titular de los derechos de propiedad intelectual supuestamente infringidos; (c) indicación precisa y completa de los Contenidos protegidos mediante los derechos de propiedad intelectual supuestamente infringidos, así como de su localización en el Portal; (d) declaración expresa y clara de que la introducción de los Contenidos indicados se ha realizado sin el consentimiento del titular bajo la responsabilidad del reclamante de que la información proporcionada en la notificación es exacta y de que la introducción de los contenidos constituye una violación de sus derechos de propiedad intelectual.
<br>
Estas notificaciones deberán ser enviadas a: ___________________________________________________________________________
<br>
Si de la carta e información proporcionada se desprendiera que se está violando el derecho intelectual de una persona, “Econtact” suspenderá de inmediato el acceso público a la información respectiva, y la pondrá a disposición de su titular. 
    		</li>
    		<br>
    		<li>
    		Todos y cada uno de los servicios que se prestan a través del Sitio Web, son proporcionados como se aprecian y ponen a su disposición, sin garantía alguna. Se reitera que no se garantiza los servicios que presta el Servicio Web, contenidos, funciones o materiales proporcionados a través del mismo. Econtact tampoco asume ninguna responsabilidad, y no será responsable de cualquier daño a, o de cualquier virus que pudiera infectar su equipo a causa de su acceso a, uso de, o navegación en el sitio web o por descargar cualquiera de los materiales, datos, textos, imágenes, contenidos de video o contenidos de audio del Sitio Web. 
Econtact no avala ni es responsable de la exactitud o veracidad de cualquier información publicada en el Sitio Web, ni de cualquier publicación ofensiva, difamatoria, obscena, incidente, ilegal o violatoria hecha en el mismo por cualquier persona a no ser un empleado portavoz autorizado de Econtact en su carácter de oficial. 
Cualquier producto o servicio ordenado o proporcionado vía el Sitio Web es proporcionado por Econtact “tal como esta”, excepto al grado, si se diera el caso, de estar de otro modo establecido por escrito, en un contrato de Licencia o venta celebrado por separado entre usted y Econtact o su proveedor o la persona que otorga la Licencia	
    		</li>
    		<br>
    		<li>
    			En ningún caso, Econtact o cualquiera de sus empleados, directores, accionistas, agentes o proveedores de cualquier daño directo, indirecto, especial, incidental, consecuente, ejemplar o punitivo como resultado del mal uso, o la incapacidad de usar el Sitio Web o los contenidos, su provisión de información vía el Sitio Web, Negocios perdidos o ventas perdidas, aún cuando dicha entidad protegía haya sido asesorada sobre la posibilidad de dichos daños. Algunas legislaciones no permiten la limitación o exclusión de responsabilidad por daños incidentales o indirectos, conviniendo desde este momento a que Econtact o las personas antes señaladas no serán responsables por cantidades que excedan en la suma total de la que hubiere pagado por el uso del Sitio Web de los productos que haya adquirido vía el citado Sitio, no existiendo responsabilidad penal alguna.
    		</li>
    		<br>
    		<li>
    			De igual manera, se compromete a cumplir todas y cada una de las políticas que a continuación se mencionan, en caso de no cumplir alguna de estas, Econtact lo podrá dar de baja sin responsabilidad alguna, estas políticas son:
    			<br>
    			<p>
    				a.- Anualmente cubrir cuota.
    				<br>
    				<br>
				b.- Mes con mes deben de cubrir el costo por subir al sistema cuando menos dos propiedades, caso contrario se les dará de baja su número y clave de usuario sin tener derecho a reembolso de su anualidad o inscripción en adelante las cuotas mensuales de promoción.
				<br>
				<br>
				c.- Al subir alguna propiedad deben de manifestar bajo protesta de decir verdad, que cuentan con la autorización del propietario para promocionar su propiedad.
				<br>
				<br>
				d.- Para promocionar cualquier propiedad por medio del Sitio Web, deberán de proporcionar cuando menos la información que les sea solicitada conforme a los formatos previamente establecidos para tales efectos, debiendo ser esta información cierta y precisa, si por algún motivo no lo es, Econtact sin responsabilidad alguna puede bajar la información de la propiedad del sistema.
				<br>
				<br>
				e.- Todos y cada uno de los Usuarios del Sitio Web, deberán de proporcionar sus datos personales, así como publicar la comisión que están dispuestos a compartir con los otros usuarios en caso de que por medio de este Sistema logren ponerse en contacto con otro profesional inmobiliario y esto les permita cerrar una venta o renta según sea el caso.
				<br>
				<br>
				f.- No se podrá publicar al mismo tiempo un mismo inmueble y en caso de que así sea, se dará de baja de manera automática sin responsabilidad alguna las publicaciones realizadas con posterioridad al menos que uno de los profesionales inmobiliarios que la publique posterior a otro acredite que cuenta con la autorización del propietario del inmueble, caso en el cual la publicación que se dará de baja será la primera.
				<br>
				<br>
				g.- No se permitirá subir fotos o videos que tengan contenidas las fachadas de los inmuebles o que contenga su ubicación exacta, esto con la finalidad de salvaguardar los intereses de los usuarios.
				<br>
				<br>
				h.- Econtact, se reserva el derecho de publicar las propiedades si considera que estas no satisfacen  los requisitos y las necesidades de los usuarios para los cuales fue desarrollado este sistema.
				<br>
				<br>
				i.- Los formatos de las fotos o videos en su caso deberán de ser acordes a las que el sistema permita utilizar y para el cual ha sido creado, caso contrario la Nube no será responsable y por tanto no tendrá obligación alguna de realizar reembolsos.
				<br>
				<br>
				j.- En todo momento los usuarios deberán de observar lo dispuesto por el Código de Ética, el cual se publicara en el Sitio Web, mismo que en cualquier momento podrá ser modificado sin notificación alguna, caso contrario podrán ser suspendidos de manera temporal o total según sea la infracción o falta, sin responsabilidad de Econtact de regresar cantidad alguna pagada por el usuario que haya caída en falta o cometido alguna infracción según lo consignado en el Código de Ética ya referido.
    			</p>
    		</li>

    		<li>
    			Desde este momento está de acuerdo y acepta en que al momento de atender alguna cita con algún usuario del Sitio Web, deberá de registrar la misma a efecto de que si logran concretar la operación exista el antecedente de que la misma fue realizada con clientes obtenidos por el Sitio Web. En caso de que alguno de los Profesionales Inmobiliarios no quisiera reconocer al otro, desde ahora convienen en sujetarse a un procedimiento de conciliación y mediación conforme a los lineamientos que ECONTACT INMOBILIARIA SA DE CV determine y formule para tales efectos, corriendo por cuenta de los interesados en cada caso de los costos y honorarios que pudieran generarse por ventilar o resolver este conflicto conforme a los lineamientos planteados para estos casos.
    			<br>
    			Todos y cada uno de los servicios que se ofrezcan por medio del Sitio Web son independientes y con cargo adicional, por lo que la cuota de inscripción o anualidad así como las cuotas mensuales de promoción solo darán derecho a subir información y compartirla con los demás usuarios en los términos que cada profesional inmobiliario contrate siendo con cargo adicional cualquier otro servicio como de manera enunciativa mas no limitativa se enumeran los de mediación, conciliación, jurídicos, asesoría de financiamiento, cursos, seminarios, talleres e incluso asesoría profesional en el marco de comercialización y administración de inmuebles.
    		</li>
    		<br>
    		<li>
    			La prestación del servicio del Sitio Web y de los demás Servicios tiene una duración indefinida. Sin embargo “Econtact”, podrá dar por terminada, suspender o interrumpir en cualquier momento y sin necesidad de previo aviso, la prestación de los servicios del Sitio Web y/o de cualquiera de los Servicios (incluidos los Servicios Abiertos al Usuario), sin responsabilidad alguna.
    		</li>
    		<br>
    		<li>
    			Para la interpretación, cumplimiento y ejecución de éstos Términos y Condiciones de Uso del Sitio Web, “Econtact” y el Usuario y/o cliente acuerdan que se someten a la jurisdicción de los tribunales competentes en la Ciudad de México, Distrito Federal, renunciando al fuero que en virtud de sus domicilios actuales o futuros o por cualquier otro motivo pudiera corresponderles y que se regirán por las disposiciones aplicables en las leyes de México.
    		</li>
    	</ol>
    </p>

</div>
